<form id="pagerForm" action="__URL__/index" method="post">
    <input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    <input type="hidden" name="_order" value="{$Think.request._order}"/>
    <input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>

<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <b>搜索</b> &nbsp; 小区名称：<input type="text" size="10" name="name" value="{$Think.post.name}" />
                    </td>
                    <td>
                        城市：
                    </td>
                    <td>
                        <select class="combox" name="CID" >
                            <option value="" >-全部-</option>
                            <volist name="city" id="citvo">
                            <option value="{$citvo.ID}" <if condition="$Think.post.CID eq $citvo['ID']">selected</if>>{$citvo.NAME}</option>
                            </volist>
                        </select>
                    </td>
                    <td>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>


<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="__CONTROLLER__/add" target="navTab"  rel="addcommunity" title="添加小区"><span>添加</span></a></li>
            <li><a class="delete" href="__CONTROLLER__/del/ids/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}" target="ajaxTodo" postType="string" title="确定要删除吗?"><span>删除</span></a></li>
            <li><a class="edit" href="__URL__/edit/ID/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}"   target="navTab" title="编辑小区"><span>编辑</span></a></li>
            <li class="line">line</li>
            <li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
            <li><a class="icon"   onclick="doSelect(0)" ><span>全选</span></a></li>
            <li><a class="icon"   onclick="doSelect(1)" ><span>全不选</span></a></li>
            <li><a class="icon"   onclick="doSelect(2)" ><span>反选</span></a></li>
            <li><a class="delete" href="__CONTROLLER__/del" target="selectedTodo" postType="string" title="确定要删除吗?"><span>批量删除</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="112">
        <thead>
            <tr>
                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th width="50" orderField="ID" <if condition="$Think.request._order eq 'ID'">class="{$Think.request._sort}"</if>>序号</th>
                <th width="150" orderField="NAME" >小区名称</th>
                <th width="150" orderField="CID" <if condition="$Think.request._order eq 'CID'">class="{$Think.request._sort}"</if>>城市</th>
                <th width="150" orderField="AID" <if condition="$Think.request._order eq 'AID'">class="{$Think.request._sort}"</if>>区域</th>
                <th width="100" orderField="IsImportent" <if condition="$Think.request._order eq 'IsImportent'">class="{$Think.request._sort}"</if>>重点小区</th>
                <th width="100" orderField="COMPLETEDATE" <if condition="$Think.request._order eq 'COMPLETEDATE'">class="{$Think.request._sort}"</if>>竣工时间</th>
                <th width="200" orderField="PROPERTY">物业类型</th>
                <th width="150" orderField="UPDATETIME" <if condition="$Think.request._order eq 'UPDATETIME'">class="{$Think.request._sort}"</if>>更新时间</th>
                <th width="100" orderField="indexno"<if condition="$Think.request._order eq 'indexno'">class="{$Think.request._sort}"</if>>页面排序</th>
                <th width="100" orderField="STATUS">审核状态</th>
                <th width="150" >基本操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="comlist">
                <tr target="item_id" rel="{$comlist.ID}">
                    <td><input name="ids" value="{$comlist.ID}" type="checkbox"></td>
                    <td>{$comlist.ID}</td>
                    <td>{$comlist.NAME}</td>
                    <td>{$comlist.CID|getcityname}</td>
                    <td>{$comlist.AID|getcityareaname}</td>
                    <td>{$comlist.isimportent}</td>
                    <td>{$comlist.completedate|date="Y-m-d",###}</td>
                    <td>{$comlist.PROPERTY}</td>
                    <td>{$comlist.updatetime|date="Y-m-d",###}</td>
                    <td>{$comlist.indexno}</td>
                    <td>{$comlist.status}</td>
                    <td><a class="edit" href="__CONTROLLER__/check/ID/{$comlist.ID}" target="navTab" rel="checkcommunity" title="小区审核">审核</a>&nbsp;<a class="edit" href="__URL__/edit/ID/{$comlist.ID}"   target="navTab" rel="editcommunity" title="编辑小区">编辑</a>&nbsp;<a class="delete" href="__CONTROLLER__/del/ID/{$comlist.ID}" target="ajaxTodo" postType="string" title="确定要删除吗?">删除</a></td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <!-- <select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})"> -->
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
                <option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
                <option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
                <option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
                <option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
            </select>
            <span>共{$totalCount}条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="5" currentPage="{$currentPage}"></div>
    </div>
</div>
<script type="text/javascript">
        //定义函数处理选择框的选择
           function doSelect(m){
                //获取上面所有的input节点
                var list = document.getElementsByTagName("input");
                //遍历
                for(var i=0;i<list.length;i++){
                    //判断如何选择中
                    switch(m){
                        case 0: list[i].checked=true;   break; //全选
                        case 1: list[i].checked=false;  break; //全不选
                        case 2: list[i].checked=!list[i].checked;  break; //反选
                    }
                }
           }
</script>
