<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>关于实创-品牌历程</title>
<meta name="keywords" content="实创装饰" />
<meta name="description" content="北京实创装饰官网，主营包含装修设计、主材、施工、家居用品等在内的整体家装。拥有数量众多的高端、专业设计师。装修用材全球一流，高品质环保用料。高品质售后服务。" />
<link href="__CSS__/global.css" type="text/css" rel="stylesheet">
<link href="__CSS__/top-footer.css" type="text/css" rel="stylesheet">
<script src="__JS__/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="__JS__/Component.js" type="text/javascript"><!--全局js--></script>

<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->

</head>

<body>
<!--*********************header 引入区*********************-->
<div class="header-wrap clearfix">
   <div class="sc-ui-topbar">
      <div class="layout clearfix">
          <div class="sc-ui-topbar-l f_l">
             <span class="sc-page" onclick="addCookie();"><i></i>收藏实创3</span>
             <span class="sc-location"><i></i><strong class="pr-address">北京</strong></span>
          </div>
          <!--left end-->
          <div class="sc-ui-topbar-r f_r">
            <span class="sc-wel">欢迎来到实创！</span>
            <span class="sc-t-login"><i></i><a href="#">[登录]</a> <a href="#">[免费注册]</a></span>
            <span class="sc-t-gj"><a href="#">家装管家</a></span>
          </div>
          <!--right end-->
      </div>
   </div>
   <!--sc-ui-topbar end-->
   <div class="sc-ui-header-bg">
       <div class="sc-logo-wrap">
          <div class="sc-logo-alpha opcity50"><!--背景颜色是否透明，如果透明添加 样式 opcity50--></div>
          <div class="sc-logo-container">
             <div class="layout clearfix">
               <a href="../index.html" class="sc-logo"><img src="__IMG__/logo.png" width="220" height="26"></a>
               <div class="sc-main-nav">
                 <a href="#" class="zx-start">[开始装修]</a>
                 <a href="../index.html">首  页</a>
                 <a href="../decoration/decoration-index.html">我要装修</a>
                 <a href="../drawing/special-photo-list.html">看效果图</a>
                 <a href="../hotcommunity/diary-index.html">我的小区</a>
                 <a href="../guide/renovation-index.html" target="_blank">装修攻略</a>
                 <a href="../characteristic/tese-index.html">实创特色</a>
               </div>
               <!--sc-main-nav end-->
               <h2 class="sc-call"><i></i><strong>400-03-28800</strong></h2>
             </div>
             <!--end-->
          </div>
       </div>
       <!--about-banner-->
       <div class="header-step-box">
         <h1 class="h-s-title">关于实创</h1>
       </div>
       <!--about-banner end-->
   </div>
   <!--sc-logo end-->
</div>
<!--*********************header 引入区 end*********************-->


<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
         <a href="#">首页 ></a>
         <a href="#">关于实创 > </a>
         <a>品牌历程</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<!--about-news-list-->
<div class="about-news-nav-bg about-pplcBg">
	<div class="layout container-minheight clearfix">
		<div class="about-nav txt-center">
        	<ul>
<include file="left_menu_about" pplc='  class="active"' />
             </ul>
        </div>
	</div>
</div>

<div class="layout container-minheight clearfix">

    <div class="inside-contanier-l-wrap padding-none f_r ">
        <h2 class="h-s-title about-news-list-title txt-center">品牌历程</h2>
          <div class="ljsc_right">
            <div class="scAboutPplc clearfix">
              <div class="scAboutPplcMain">
                <div class="scAboutPplc1">
                  <h2>1999年破茧而出蓄势而发</h2>
                  <p>北京实创装饰工程有限公司正式成立。并获北京市劳动局“施工公司安全资格审查认可证”，2000年被北京市建筑装饰协会正式吸收为会员。</p>
                </div>
                 <div class="scAboutPplc2">
                  <h2>2001年全新姿态业内认同</h2>
                  <p>经过几年的发展和钻研，实创装饰荣获2001中国国际住宅与建筑科技展示交易会“优秀住宅设计奖”，北京市建筑装饰协会“2001年北京市第二届美化家居展览会优质家装工程奖”。</p>
                </div>
                 <div class="scAboutPplc3">
                  <h2>2002年品牌扬帆诚信引航</h2>
                  <p>诚信和品牌建设始终贯穿实创成长之路，以身作则维护行业健康环境。先后被北京市质量技术监督局评为“质量服务信得过企业”，中国建筑装饰协会认定为“全国住宅装饰行业服务诚信企业”</p>
                </div>
                 <div class="scAboutPplc4">
                  <h2>2003年优质工程屡获殊荣</h2>
                  <p>荣获“2003年北京第四届美化家居展览会优良工程奖”，北京市建筑装饰行业“2003年度家庭装饰装修优秀公司奖”，优质的工程质量，为实创品牌的成长奠定了坚实的基础。</p>
                </div>
                 <div class="scAboutPplc5">
                  <h2>2004年用心服务客户至上</h2>
                  <p>荣获2004年北京第五届美化家居展“星冠纳米涂料杯”设计大赛优秀奖、优质工程奖，中国建筑装饰协会“全国住宅装饰装修行业自律诚信宣言500家发起单位”。实创用热情的态度与言语，快速及时的行动力，用处处为客户着想的责任心，真诚地为客户提供优质的服务。此外，实创投资拍摄的电视剧《将装修进行到底》在中央电视台一套热播。</p>
                </div>
                 <div class="scAboutPplc6">
                  <h2>2005年套餐模式开创辉煌</h2>
                  <p>独创套餐装修模式，定义精装修新基准。“￥28800精装搬回家”一举成功，家装整体设计、整体选购、整体施工、整体售后不仅迅速热了北京，更为全国家装行业带来了新的变革。</p>
                </div>
                <div class="scAboutPplc7">
                  <h2>2006年积极发展精耕细作</h2>
                  <p>荣获中国建筑装饰协会“2006年度全国住宅装饰装修行业百强企业”、荣获“2006年第七届美化家居优良工程奖”，实创以坚持不懈的精神，不断创新发展，成为行业的领军企业。</p>
                </div>
                <div class="scAboutPplc8">
                  <h2>2007年开拓版图布局全国</h2>
                  <p>积累了丰富的经验和雄厚的资金实力，赢得了良好的社会声誉，公司将发展的目光投向更大的舞台。北京巴赫曼成套木作系统有限公司注资成立，拥有40000平米现代化生产基地。同时天津公司、郑州第一批外埠公司成立开业，标志着实创全国战略的开始。</p>
                </div>
                <div class="scAboutPplc9">
                  <h2>2008年品质飞跃服务升级</h2>
                  <p>为了给消费者带来更美好的家居生活，实创装饰进行了长期不懈的调整和努力，成立家具直销馆，率先推出第2代精装整体解决方案。从粗放化施工升级成精细化、标准化服务，不断向标准化整体家居服务领导者的目标前进。</p>
                </div>
                <div class="scAboutPplc10">
                  <h2>2009年全产业链华丽蜕变</h2>
                  <p>从产品到渠道，从渠道到产品；从装修到生产，从生产到装修……实创通过多元化产业链式的发展，完成集团化蜕变。秦皇岛公司开业，12000平米家居体验馆全新升级，实创战略得到有效延续。</p>
                </div>
                <div class="scAboutPplc11">
                  <h2>2010年世博风采震撼华夏</h2>
                  <p>以优秀设计、品质工程、优质服务，实创成为中国2010年上海世博会“推荐商户”。打造家装行业全新服务模式，于北京推出“装修第一站”20000平米家居体验馆。同年，沈阳、石家庄、唐山公司相继开业。</p>
                </div>
                <div class="scAboutPplc12">
                  <h2>2011年引领进步见证未来</h2>
                  <p>北京装修第一站、集采中心，唐山、天津、呼和浩特、青岛、哈尔滨、石家庄、银川、南京等新公司和新店正式营业，不断壮大的实创装饰集团公司正式成立。与此同时，与“圣象卫浴”、“美标卫浴”建立战略合作。至此，实创与国内外100余个知名品牌建立战略合作关系，丹麦福乐阁涂料、瑞士卢森地板、德国爱格地板、巴赫曼厨柜、马可波罗瓷砖……</p>
                </div>
                <div class="scAboutPplc13">
                  <h2>2012年规模壮大实力不凡</h2>
                  <p>实创装饰再接再厉，通过不断地努力获得了更多客户的认可，在家装行业已跻身前三甲。天猫旗舰店正式上线运营，济南、武汉等新公司和新店正式营业，为国内家居市场带来更多活力，让更多的消费者能够体验更实在的家装</p>
                </div>
                <div class="scAboutPplc14">
                  <h2>2013年稳进中开拓新区域新市场</h2>
                  <p>布局广州、上海等一线城市，覆盖中国七大版图；S系列产品上市，首推中高端整体家居解决方案</p>
                </div>
                <div class="scAboutPplc15">
                  <h2>2014年 更多努力 只为创造更高客户价值</h2>
                  
                </div>
              </div>
            </div>
          </div>
          		  
    </div>
        
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<div class="footer-wrap">
    <div class="layout clearfix footer-sub-nav-c">
       <dl class="footer-sub-nav-dl">
          <dt>服务支持</dt>
          <dd><a href="designer.html">设计师团队</a></dd>
          <dd><a href="#">实创展厅</a></dd>
          <dd><a href="#">企业客户入口</a></dd>
          <dd><a href="#">网站地图</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关于实创</dt>
          <dd><a href="#">独家优势</a></dd>
          <dd><a href="#">加入我们</a></dd>
          <dd><a href="#">责任声明</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关注我们</dt>
          <dd><a href="#"><i class="zhu-icon01"></i>新浪微博</a></dd>
          <dd><a href="#"><i class="zhu-icon02"></i>QQ空间</a></dd>
          <dd><a href="#"><i class="zhu-icon03"></i>官方微信</a></dd>
          <dd><a href="#"><i class="zhu-icon04"></i>天猫商城</a></dd>
       </dl>
       <div class="footer-call">
         <h2>400-03-28800</h2>
         <p class="f-day">周一至周日 8:00-18:00<br/>（仅收市话费）</p>
         <p class="f-btn-c"><a href="#" class="yellow-btn btn-animate w-200">在线咨询</a></p>
       </div>
    
    </div>
    
    <div class="ui-copyright">
      <p class="layout clearfix"><span class="f_l">Copyright @ 1997-2014北京实创装饰工程有限公司</span> <span class="f_r">京ICP备09034105号 京公网安备110102000606</span></p>
    </div>
</div>
<!--*********************footer 引入区 end*********************-->

</body>
</html>
