
<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/listhd/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,navTabAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<div class="pageFormContent nowrap" layoutH="60" >
			<dl>
				<dt>城市：</dt>
				<dd><select name="CityID">
					<volist name="city" id="vo">
						<option value="{$vo['ID']}" <if condition="$info['CityID'] eq $vo['ID']">selected</if>>{$vo['NAME']}</option>
					</volist>
 				</select></dd>
			</dl>
			
			<dl>
				<dt>标题：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="Title"/></dd>
			</dl>
			<dl>
				<dt>短信内容：</dt>
				<dd><input type="text"  style="width:100%" name="phonecontent" value="{$vo.phonecontent}"/></dd>
			</dl>
			<dl>
				<dt>结束时间：</dt>
				<dd><input type="text"  class="date textInput readonly valid"  style="width:100%" name="EndTime"/></dd>
			</dl>
			<dl>
				<dt>背景图片：</dt>
				<dd>
				<div style="display:blodk;width:500px;">
				<img id="uploadimg" style="display:blodk;float:left;width:200px;height:100px;" src="{$vo.background}"/>
				<a style="display:blodk;float:left;width:100px;height:50px;padding-top:50px;padding-left:20px;" href="__MODULE__/Demo/add"  target="dialog">上传图片</a>
				</div>
				<input type="hidden" style="width:100%" name="background" id="background" class="valid">
				</dd>
			</dl>
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

