<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/yangbanjian.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
<script src="__JS__/taocan.js" type="text/javascript"><!--当前页面独立js文件--></script>
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
        <a href="{:U('/index/index?city='.$city)}" class="last"></a>
        <span class="jz-top-icon"></span>
        <h3 class="clearfix">
            <p class="chi-ti">样板间详情</p>
            
        </h3>
    </section>
    
    <section class="sc-floor-row clearfix">
        <div class="topbg">
            <img src="__IMG__/poker/img14.png"/>
            <div class="icon poker">
                <ul>
                    <li><img src="__CSS__/images/zhipaian.png"/><span>大设计</span></li>
                    <li><img src="__CSS__/images/zhipaian.png"/><span>大制作</span></li>
                    <li><img src="__CSS__/images/zhipaian.png"/><span>极环保</span></li>
                    <li><img src="__CSS__/images/zhipaian.png"/><span>低价格</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <h3 class="sblue">经典美式公寓生活</h3>
        <div class="pubu clearfix">
            <ul>
                <li>
                    <img src="__IMG__/poker/img15.png"/>
                    <p>北美</p>
                </li>
                <li>
                    <img src="__IMG__/poker/img16.png"/>
                    <p>格调</p>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="__IMG__/poker/img17.png"/>
                    <p>古典</p>
                </li>
                <li>
                    <img src="__IMG__/poker/img18.png"/>
                    <p>西装</p>
                </li>
            </ul>
            <ul>
                <li>
                    <img src="__IMG__/poker/img19.png"/>
                    <p>公寓</p>
                </li>
                <li>
                    <img src="__IMG__/poker/img20.png"/>
                    <p>自由</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="sblue">解读北美都会文化生活</h3>
        <img src="__IMG__/poker/img21.png"/>
        
    </section>
    <section class="sec-4 clearfix">
        <h3 class="sblue">高雅大气的客厅</h3>
        <img src="__IMG__/poker/pk-cl-img01.jpg"/>
        <div class="price pblue clearfix">
            <span class="preprice">1599元/平</span>
            <span>超值标配</span>
        </div>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                唯美墙裙
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img03.jpg"/>
            </div>
        </div>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                宽大顶角线
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img02.jpg"/>
            </div>
        </div>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                18cm超高踢脚线
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img03.jpg"/>
            </div>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="sblue">开放式厨房</h3>
       <img src="__IMG__/poker/pk-cl-img02.jpg"/>
        <div class="price pblue clearfix">
            <span class="preprice">1599元/平</span>
            <span>包含环保好主材</span>
        </div>
        <div class="letmedown clearfix">
            <div class="down-l">
                <img src="__CSS__/images/tuijianbtn.png"/>
                <h3>岛台</h3>
                <p>美式生活的必备品</p>
            </div>
            <div class="down-r">
                <img src="__IMG__/poker/img23.jpg"/>
            </div>
        </div>
    </section>

    <section class="sec-4 clearfix">
        <h3 class="sblue">1599元/平 包含整套好厨柜</h3>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>人造石台面</p>
                <p>耐120℃高温</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img04.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>100%全阻尼抽屉</p>
                <p>缓慢关闭防碰撞柜体</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img05.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l posi">
                <p>18mm厚面板</p>
                <p>提升20%使用寿命</p>
                <p>6面封边更环保</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img06.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>防水、防潮板设计</p>
                <p>结实耐用</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img07.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 clearfix">
        <h3 class="sblue">精致的卫浴空间</h3>
        <img src="__IMG__/poker/pk-cl-img03.jpg"/>
        <div class="letmedown clearfix">
            <div class="down-l">
                <img src="__CSS__/images/tuijianbtn.png"/>
                <h3>素雅的腰线</h3>
                <p>细腻、不张扬</p>
                <p>引人注目</p>
            </div>
            <div class="down-r">
                <img src="__IMG__/poker/img23-2.jpg"/>
            </div>
        </div>
        <h3 class="sblue">1599元/平 包含整套好厨柜</h3>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>大牌云集选择多，</p>
                <p>科勒、美标、</p>
                <p>吉事多、法恩莎…</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img08.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>智能花洒，冷热兼容</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img09.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l posi">
                <p>高品质，易清洁</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img10.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>浅色系</p>
                <p>陶制釉面砖/瓷质砖</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img11.jpg"/>
            </div>
        </div>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>H5原生铜铸就超长寿命</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img12.jpg"/>
            </div>
        </div>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>防水石膏板平面吊顶</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img13.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 clearfix">
        <h3 class="sblue">舒适的卧室</h3>
        <img src="__IMG__/poker/pk-cl-img04.jpg"/>
        
        <h3 class="sblue">1599元/平 包含环保好主材</h3>
        <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>多功能、组合、定制</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img14.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>6分格造型门</p>
                <p>混油烤漆</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img15.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l posi">
                <p>原木色哑光</p>
                <p>实木复合</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img16.jpg"/>
            </div>
        </div>
         <div class="poker-wrap clearfix">
            <div class="poker-l">
                <p>浅绿色，清新自然</p>
                <p>欧标E1 环保</p>
            </div>
            <div class="poker-r">
                <img src="__IMG__/poker/pk-r-img17.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 pokerface clearfix">
        <h3 class="sblue">上大图  多角度 再看一遍</h3>
        <div class="bigimg">
            <img src="__IMG__/poker/pk-cl-img05.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/poker/pk-cl-img06.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/poker/pk-cl-img07.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/poker/pk-cl-img08.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/poker/pk-cl-img09.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/poker/pk-cl-img10.jpg"/>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="sblue">1599元/平  纸牌屋  实景样板间配置清单</h3>
        <table>
            <tr>
                <th width="20%">空间</th>
                <th width="80%">项目</th>
            </tr>
            <tr>
                <td rowspan="12">餐客厅</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>垭口</td>
            </tr>
            <tr>
                <td>护墙板（1.2m高）</td>
            </tr>
            <tr>
                <td>高踢脚（18cm高)</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>石膏顶角线</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面墙漆涂刷</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>墙面做阳角护角（PVC阳角线）</td>
            </tr>
            <tr>
                <td rowspan="13">厨房</td>
                <td>地砖通铺</td>
            </tr>
            <tr>
                <td>墙砖通铺</td>
            </tr>
            <tr>
                <td>厨柜</td>
            </tr
            ><tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>防水石膏板平面吊顶</td>
            </tr>
            <tr>
                <td>石膏顶角线</td>
            </tr>
            <tr>
                <td>包立管</td>
            </tr>
            <tr>
                <td>墙砖薄贴法</td>
            </tr>
            <tr>
                <td>墙面水泥砂浆找平</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>冷、热水保温处理</td>
            </tr>
            <tr>
                <td>墙面做阳角护角（PVC阳角线）</td>
            </tr>
            
            
            <tr>
                <td rowspan="17">卫生间</td>
                <td>地砖通铺</td>
            </tr>
            <tr>
                <td>墙砖通铺</td>
            </tr>
            <tr>
                <td>卫浴套装</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>防水石膏板平面吊顶</td>
            </tr>
            <tr>
                <td>石膏顶角线</td>
            </tr>
            <tr>
                <td>地漏</td>
            </tr>
            <tr>
                <td>浴霸</td>
            </tr>
            <tr>
                <td>五金挂件</td>
            </tr>
            <tr>
                <td>包立管</td>
            </tr>
            <tr>
                <td>墙砖薄贴法</td>
            </tr>
            <tr>
                <td>墙面水泥砂浆找平</td>
            </tr>
            <tr>
                <td>地面防水</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>冷、热水保温处理</td>
            </tr>
            <tr>
                <td>墙面做阳角护角（PVC阳角线）</td>
            </tr>
            <tr>
                <td rowspan="10">主卧</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>高踢脚（18cm高)</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>衣柜</td>
            </tr>
            <tr>
                <td>石膏顶角线</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面墙漆涂刷</td>
            </tr>
            <tr>
                <td>墙面做阳角护角（PVC阳角线）</td>
            </tr>
            <tr>
                <td rowspan="10">次卧</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>高踢脚（18cm高)</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>石膏顶角线</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面墙漆涂刷</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>墙面做阳角护角（PVC阳角线）</td>
            </tr>
            <tr>
                <td rowspan="5">阳台</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面墙漆涂刷</td>
            </tr>
            <tr>
                <td>墙面做阳角护角（PVC阳角线）</td>
            </tr>
            <tr>
              <td colspan="2">温馨提示：以上所有品牌型号，仅为设计推荐，具体配置以各城市门店设计师推荐为准。</td>
            </tr>
        </table>
    </section>
    <section class="sc-floor-row clearfix zoom-bottom-p">
       <div class="clearfix  zoom-sub-wrap" >
        <p class="more-deser-btn"><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo['LEYUCID']}&f={$cityinfo['LEYUFID']}&g={$cityinfo['LEYUGID']}" target="_blank">更多详询设计师</a></p>
       </div>
    </section>
    
  </div>
  <!--主体内容 end-->

<!--底部悬浮-->
<div class="zoom-bottom-fiexd">
  <h2 class="z-b-f-l">我喜欢，就要这一套</h2>
  <p class="z-b-f-r"><a href="{:U('/order/index?type=11&city='.$city.'')}" class="free-lf">免费量房</a></p>
</div>
<!--底部悬浮 end-->


</div>
</body>
</html>
