<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/yangbanjian.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
<script src="__JS__/taocan.js" type="text/javascript"><!--当前页面独立js文件--></script>
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
        <a href="{:U('/index/index?city='.$city)}" class="last"></a>
        <span class="jz-top-icon"></span>
        <h3 class="clearfix">
            <p class="chi-ti">样板间详情</p>
            
        </h3>
    </section>
    
    <section class="sc-floor-row clearfix">
        <div class="topbg">
            <img src="__IMG__/yijia/yijiabg.png"/>
            <div class="icon">
                <ul>
                    <li><img src="__IMG__/yijia/goldbg.png"/><span class="zoom-blue">大设计</span></li>
                    <li><img src="__IMG__/yijia/goldbg.png"/><span class="zoom-blue">大制作</span></li>
                    <li><img src="__IMG__/yijia/goldbg.png"/><span class="zoom-blue">极环保</span></li>
                    <li><img src="__IMG__/yijia/goldbg.png"/><span class="zoom-blue">低价格</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <h3 class="nobg">年轻人的第一套房</h3>
        <ul class="imglist clearfix">
            <li>
                <img src="__IMG__/yijia/yj-img10.png"/>
                <p>宜家</p>
            </li>
            <li>
                <img src="__IMG__/yijia/yj-img11.png"/>
                <p>收纳</p>
            </li>
            <li>
                <img src="__IMG__/yijia/yj-img11-2.png"/>
                <p>北欧</p>
            </li>
            <li>
                <img src="__IMG__/yijia/yj-img11-3.png"/>
                <p>白色</p>
            </li>
            <li>
                <img src="__IMG__/yijia/yj-img11-4.png"/>
                <p>阳光</p>
            </li>
            <li>
                <img src="__IMG__/yijia/yj-img11-5.png"/>
                <p>百搭</p>
            </li>
        </ul>
        <h3 class="nobg">69m<sup>2</sup> 变身 96m<sup>2</sup> 10年全收纳</h3>
        <img src="__IMG__/yijia/img12.png"/>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="blue">多功能餐厅</h3>
        <img src="__IMG__/yijia/yj-rowimg01.jpg"/>
        <div class="price grey clearfix">
            <span class="preprice">799元/平</span>
            <span>包含环保好主材</span>
        </div>
        <div class="detail-wrap clearfix">
            <div class="d-left">
                <h3>环保地板</h3>
                <ul>
                    <li>
                        <p>蓝天使认证</p>
                        <img src="__IMG__/yijia/img06.png"/>
                        
                    </li>
                    <li>
                        <p>瑞士空气质量认证</p>
                        <img src="__IMG__/yijia/img07.png"/>
                        
                    </li>
                </ul>
            </div>
            <div class="d-right">
                <img src="__IMG__/yijia/yj-rimg01.jpg"/>
            </div>
        </div>
        <div class="tonglan clearfix">
            <div class="t-left">
                <h3>进口墙漆</h3>
                <p>欧洲标准 E1级环保</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg02.jpg"/>
            </div>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="blue">开放便捷的厨房</h3>
        <img src="__IMG__/yijia/yj-rowimg02.jpg"/>
        <div class="price grey clearfix">
            <span class="preprice">799元/平</span>
            <span>包含整套好厨柜</span>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3>人造石台面</h3>
                <p>耐120℃高温</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg03.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3>100%全阻尼抽屉</h3>
                <p>缓慢关闭防碰撞柜体</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg04.jpg"/>
            </div>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3>18mm厚面板</h3>
                <p>提升20%使用寿命</p>
                <h3>6面封边更环保</h3>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg05.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3>防水、防潮板设计</h3>
                <h3>结实耐用</h3>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg06.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 clearfix">
        <h3 class="blue">小身材 大功能的盥洗室</h3>
       <img src="__IMG__/yijia/img05.png"/>
        <div class="price grey clearfix">
            <span class="preprice">799元/平</span>
            <span>包含整体卫浴</span>
        </div>
         <div class="detail-wrap clearfix">
            <div class="d-left">
                <h3>德式木门</h3>
                <ul>
                    <li>
                        <img src="__IMG__/yijia/img06-1.png"/>
                        <p>隐藏式铰链</p>
                    </li>
                    <li>
                        <img class="ctuijian" src="__CSS__/images/ctui.png">
                        <img src="__IMG__/yijia/img07-1.png"/>
                        <p>推拉门</p>
                    </li>
                </ul>
            </div>
            <div class="d-right">
                <img src="__IMG__/yijia/yj-rimg07.jpg"/>
            </div>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3>面盆龙头</h3>
                <p>大牌云集选择多，</p>
                <p>科勒、美标、吉事多、</p>
                <p>法恩莎</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg08.jpg"/>
            </div>
        </div>
         <div class="tonglan clearfix">
            <div class="t-left">
                <h3>花洒</h3>
                <p>智能花洒，冷热兼容</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg09.jpg"/>
            </div>
        </div>
         <div class="tonglan clearfix">
            <div class="t-left">
                <h3>坐便器</h3>
                <p>高品质，易清洁</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg10.png"/>
            </div>
        </div>
         <div class="tonglan clearfix">
            <div class="t-left">
                <h3>瓷砖</h3>
                <p>浅色系，</p>
                <p>陶制釉面砖/瓷质砖</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg11.jpg"/>
            </div>
        </div>
        <div class="tonglan clearfix">
            <div class="t-left">
                <h3>防味地漏</h3>
                <p>H5原生铜铸就超长寿命</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg12.jpg"/>
            </div>
        </div>
        <div class="tonglan clearfix">
            <div class="t-left">
                <h3>铝扣板吊顶</h3>
                <p>原生铝辊涂天花</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia//yj-rimg13.jpg"/>
            </div>
        </div>
    </section>

    <section class="sec-4 clearfix">
        <h3 class="blue">多功能卧室</h3>
        <img src="__IMG__/yijia/yj-rowimg04.jpg"/>
        <div class="price grey clearfix">
            <span class="preprice">799元/平</span>
            <span>整体衣柜含在内</span>
        </div>
        <img src="__IMG__/yijia/yj-rowimg05.jpg"/>
        <div class="yijiaspe clearfix">
            <div class="yijia-left">
                <img src="__IMG__/yijia/img13.png"/>
            </div>
            <div class="yijia-right">
                <img class="r-top" src="__IMG__/yijia/yj-rimg14.jpg"/>
                <div>
                    <h3>整体衣柜</h3>
                    <p>能装，方可谈收纳</p>
                </div>
                <img class="r-bottom" src="__IMG__/yijia/yj-rimg15.jpg"/>
            </div>
        </div>
         <div class="tonglan clearfix">
            <div class="t-left">
                <h3 class="tuijianred">推荐选配</h3>
                <h3>时尚烤漆面板</h3>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg16.jpg"/>
            </div>
        </div>
         <div class="tonglan clearfix">
            <div class="t-left">
                <h3 class="tuijianred">推荐选配</h3>
                <h3>内置多层收纳</h3>
            </div>
            <div class="t-right">
                <img src="__IMG__/yijia/yj-rimg17.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 yijiama clearfix">
        <h3 class="blue">上大图  多角度 再看一遍</h3>
        <div class="bigimg">
            <img src="__IMG__/yijia/yj-rowimg06.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/yijia/yj-rowimg07.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/yijia/yj-rowimg08.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/yijia/yj-rowimg09.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/yijia/yj-rowimg10.jpg"/>
        </div>
        <div class="bigimg">
            <img src="__IMG__/yijia/yj-rowimg11.jpg"/>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="blue">799元/平 宜家控实景样板间配置清单</h3>
        <table>
            <tr>
                <th width="20%">空间</th>
                <th width="80%">项目</th>
            </tr>
            <tr>
                <td rowspan="4">餐客厅</td>
                <td>地板/大地砖通铺</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td rowspan="8">厨房</td>
                <td>墙砖通铺</td>
            </tr>
            <tr>
                <td>地砖通铺</td>
            </tr>
            <tr>
                <td>厨柜</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>铝扣板吊顶</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>包立管</td>
            </tr>
            <tr>
                <td rowspan="10">卫生间</td>
                <td>墙砖通铺</td>
            </tr>
            <tr>
                <td>地砖通铺</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>铝扣板吊顶</td>
            </tr>
            <tr>
                <td>卫浴套装</td>
            </tr>
            <tr>
                <td>地漏</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>地面防水</td>
            </tr>
            <tr>
                <td>包立管</td>
            </tr>
            <tr>
                <td rowspan="7">卧室</td>
                <td>地板/大地砖通铺</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>衣柜</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td rowspan="6">书房</td>
                <td>地板/大地砖通铺</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td rowspan="4">阳台</td>
                <td>地板/大地砖通铺</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
              <td colspan="2">温馨提示：以上所有品牌型号，仅为设计推荐，具体配置以各城市门店设计师推荐为准。</td>
            </tr>
        </table>
    </section>
    
    <section class="sc-floor-row clearfix zoom-bottom-p">
       <div class="clearfix  zoom-sub-wrap" >
        <p class="more-deser-btn"><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo['LEYUCID']}&f={$cityinfo['LEYUFID']}&g={$cityinfo['LEYUGID']}" target="_blank">更多详询设计师</a></p>
       </div>
    </section>
    
  </div>
  <!--主体内容 end-->

<!--底部悬浮-->
<div class="zoom-bottom-fiexd">
  <h2 class="z-b-f-l">我喜欢，就要这一套</h2>
  <p class="z-b-f-r"><a href="{:U('/order/index?type=11&city='.$city.'')}" class="free-lf">免费量房</a></p>
</div>
<!--底部悬浮 end-->


</div>
</body>
</html>
