<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/zuqun.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
    <a href="{:U('/index/index?city='.$city)}" class="last"></a>
        <span class="jz-top-icon1"></span>
        <h3 class="clearfix">
        
        	<p class="chi-ti">样板间报价</p>
            <p class="eng-ti">ETHNIC GROUPS</p>
        </h3>
    </section>
        <section class="sc-floor-row section-4 clearfix">
        <div class="illusion img01 clearfix">
            <img src="__PUBLIC__/Home/temp/zuqun-img03.png"/>
        </div>
        <div class="price clearfix">
            <img class="uparrow" src="__CSS__/images/uparrow.png"/><span class="pricestyle">￥799/平米</span><a href="{:U('/ModelRoom/muji?city='.$city)}" target="_blank">了解详情</a>
        </div>
    </section>
    <section class="sc-floor-row section-5 clearfix">
        <div class="illusion img01 clearfix">
            <img src="__PUBLIC__/Home/temp/zuqun-img04.png"/>
        </div>
        <div class="price clearfix">
            <img class="uparrow" src="__CSS__/images/uparrow.png"/><span class="pricestyle">￥799/平米</span><a href="{:U('/ModelRoom/ikea?city='.$city)}" target="_blank">了解详情</a>
        </div>
    </section>    
    <section class="sc-floor-row section-3 clearfix">
        <div class="illusion img01 clearfix">
            <img src="__PUBLIC__/Home/temp/zuqun-img02.png"/>
        </div>
        <div class="price clearfix">
            <img class="uparrow" src="__CSS__/images/uparrow.png"/><span class="pricestyle">￥1599/平米</span><a href="{:U('/ModelRoom/cards?city='.$city)}" target="_blank">了解详情</a>
        </div>
    </section>   
    <section class="sc-floor-row section-6 clearfix">
        <div class="illusion img01 clearfix">
            <img src="__PUBLIC__/Home/temp/zuqun-img05.png"/>
        </div>
        <div class="price clearfix">
            <img class="uparrow" src="__CSS__/images/uparrow.png"/><span class="pricestyle">￥1399/平米</span><a href="{:U('/ModelRoom/zhongshi?city='.$city)}" target="_blank">了解详情</a>
        </div>
    </section>
    <section class="sc-floor-row section-2 clearfix">
        <div class="illusion img01 clearfix">
        	<img src="__PUBLIC__/Home/temp/zuqun-img01.png"/>
        </div>
        <div class="price clearfix">
        	<img class="uparrow" src="__CSS__/images/uparrow.png"/><span class="pricestyle">￥999/平米</span><a href="{:U('/ModelRoom/zara?city='.$city)}" target="_blank">了解详情</a>
        </div>
    </section>



  </div>
  <!--主体内容 end-->

<!--footer-->
<!-- <footer class="sc-view-footer clearfix">页脚内容正在设计中....</footer> -->
<!--footer end-->
</div>
</body>
</html>
