<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/yangbanjian.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
<script src="__JS__/taocan.js" type="text/javascript"><!--当前页面独立js文件--></script>
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
       <a href="{:U('/index/index?city='.$city)}" class="last"></a>
        <span class="jz-top-icon"></span>
        <h3 class="clearfix">
            <p class="chi-ti">样板间详情</p>
            
        </h3>
    </section>
    
    <section class="sc-floor-row clearfix">
        <div class="topbg">
            <img src="__IMG__/wuyin/wuyinbg.png"/>
            <div class="icon">
                <ul>
                    <li><img src="__IMG__/wuyin/goldbg.png"/><span>大设计</span></li>
                    <li><img src="__IMG__/wuyin/goldbg.png"/><span>大制作</span></li>
                    <li><img src="__IMG__/wuyin/goldbg.png"/><span>极环保</span></li>
                    <li><img src="__IMG__/wuyin/goldbg.png"/><span>低价格</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <h3 class="wood">无品牌的生活方式</h3>
        <ul class="imglist">
            <li>
                <img src="__IMG__/wuyin/img03.png"/>
                <p>舒适</p>
            </li>
            <li>
                <img src="__IMG__/wuyin/img03-2.png"/>
                <p>自我</p>
            </li>
            <li>
                <img src="__IMG__/wuyin/img03-3.png"/>
                <p>谦逊</p>
            </li>
            <li>
                <img src="__IMG__/wuyin/img03-4.png"/>
                <p>环保</p>
            </li>
            <li>
                <img src="__IMG__/wuyin/img03-5.png"/>
                <p>自然</p>
            </li>
            <li>
                <img src="__IMG__/wuyin/img03-6.png"/>
                <p>原木</p>
            </li>
        </ul>
    </section>
    <section class="sec-3 clearfix">
        <h3 class="wood">被大自然包裹的家</h3>
        <img src="__IMG__/wuyin/img04.png"/>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="wood">宽敞通透的客餐厅</h3>
        <img src="__IMG__/wuyin/img05.png"/>
        <div class="price clearfix">
            <span class="preprice">799元/平</span>
            <span>包含环保好主材</span>
        </div>
        <div class="detail-wrap clearfix">
            <div class="d-left">
                <h3>环保地板</h3>
                <ul>
                    <li>
                        <img src="__IMG__/wuyin/img06.png"/>
                        <p>蓝天使认证</p>
                    </li>
                    <li>
                        <img src="__IMG__/wuyin/img07.png"/>
                        <p>证瑞士空气质量认证</p>
                    </li>
                </ul>
            </div>
            <div class="d-right">
                <img src="__IMG__/wuyin/img08.jpg"/>
            </div>
        </div>
        <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3>进口墙漆</h3>
                <p>欧洲标准 E1级环保</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img08-2.jpg"/>
            </div>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="wood">开发便捷的厨房</h3>
        <img src="__IMG__/wuyin/10.jpg"/>
        <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3>回游式空间设计</h3>
                <p>开放式厨房，解决狭小空间拥堵问题</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img11.jpg"/>
            </div>
        </div>
        <div class="price clearfix">
            <span class="preprice">799元/平</span>
            <span>包含整套好厨柜</span>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3><br/>人造石台面，耐120℃高温</h3>
                <p style="display:none;">开放式厨房，解决狭小空间拥堵问题</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img12.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3 style="line-height:1.5;"><br/>100%全阻尼抽屉， <br/>缓慢关闭防碰撞柜体</h3>
                <p style="display:none;">开放式厨房，解决狭小空间拥堵问题</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img13.jpg"/>
            </div>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3 style="line-height:1.5;"><br/>18mm厚面板，<br/> 提升20%使用寿命 <br/>6面封边更环保</h3>
                <p style="display:none;">开放式厨房，解决狭小空间拥堵问题</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img14.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3 style="line-height:1.5;"><br/>防水、防潮板设计， <br/>结实耐用</h3>
                <p style="display:none;">开放式厨房，解决狭小空间拥堵问题</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img15.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 clearfix">
        <h3 class="wood">干湿分离的卫浴空间</h3>
        <div class="lr-img clearfix">
            <img class="limg" src="__IMG__/wuyin/img09.jpg"/>
            <img class="rimg" src="__IMG__/wuyin/img09-2.jpg"/>
        </div>
        <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3><br/>干湿分离设计</h3>
                <p style="line-height:1.5;">便于热水系统共享， <br/>坐便器的高使用率 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img16.jpg"/>
            </div>
        </div>
        <div class="price clearfix">
            <span class="preprice">799元/平</span>
            <span>包含的整体卫浴</span>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3><br/>面盆龙头：</h3>
                <p style="line-height:1.5;">大牌云集选择多，<br/> 科勒、美标、吉事多、法恩莎…… </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img17.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>花洒：</h3>
                <p style="line-height:1.5;">智能花洒，冷热兼容 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img18.jpg"/>
            </div>
        </div>
         <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3><br/>坐便器：</h3>
                <p>高品质，易清洁 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img19.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>瓷砖：</h3>
                <p>冷色系，陶制釉面砖/瓷质砖 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img20.jpg"/>
            </div>
        </div>
        
        <div class="tonglan shuang clearfix">
            <div class="t-left">
                <h3><br/>防味地漏：</h3>
                <p> H5原生铜铸就超长寿命 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img21.jpg"/>
            </div>
        </div>
         <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>铝扣板吊顶：</h3>
                <p>原生铝辊涂天花 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img22.jpg"/>
            </div>
        </div>
        
    </section>
    <section class="sec-4 clearfix">
        <h3 class="wood">充满自然气息的卧室</h3>
        <img src="__IMG__/wuyin/img23.jpg"/>
       
        
        <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>草编壁纸：</h3>
                <p>背景墙是稻草编成的壁纸， <br/>简朴、自然 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img24.jpg"/>
            </div>
        </div>
         <div class="price clearfix">
            <span class="preprice">799元/平</span>
            <span>包含环保好木门</span>
        </div>
        <div class="detail-wrap clearfix">
            <div class="d-left">
                <h3>德式木门</h3>
                <ul>
                    <li>
                        <img class="ctuijian" src="__CSS__/images/ctui.png"/>
                        <img src="__IMG__/wuyin/img06-1.png"/>
                        <p> 隐藏式铰链 </p>
                    </li>
                    <li>
                        <img class="ctuijian" src="__CSS__/images/ctui.png"/>
                        <img src="__IMG__/wuyin/img07-1.png"/>
                        <p>推拉门</p>
                    </li>
                </ul>
            </div>
            <div class="d-right">
                <img class="tuijian" src="__CSS__/images/tui.png"/ style="display:none;">
                <img src="__IMG__/wuyin/img25.jpg"/>
            </div>
        </div>
    </section>
    
    <section class="sec-4 clearfix">
        <h3 class="wood">整体木作，搭配更和谐</h3>
        <img src="__IMG__/wuyin/img25-2.jpg"/>
       
        
        <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>对开推拉门</h3>
                <p>地板上墙，同色系同材质， <br/>搭配浑然一体</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img25-3.jpg"/>
            </div>
        </div>
        
        <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>定制书柜</h3>
                <p>定制的入墙书柜，和墙面完美平齐， <br/>保证空间的完整性 </p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img25-4.jpg"/>
            </div>
        </div>
        <img src="__IMG__/wuyin/img26.jpg"/>
        
        <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>大幅更衣镜 </h3>
                <p>高大的更衣镜，可以完整映出全身</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img26-2.jpg"/>
            </div>
        </div>
        
        <div class="tonglan dan clearfix">
            <div class="t-left">
                <h3><br/>定制衣柜</h3>
                <p>衣柜有着朴素的木纹板面， <br/>通顶定制设计。美观，储量大。</p>
            </div>
            <div class="t-right">
                <img src="__IMG__/wuyin/img26-3.jpg"/>
            </div>
        </div>
        
    </section>
    
    
    <section class="sec-4 clearfix">
        <h3 class="wood">上大图  多角度 再看一遍</h3>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>客厅</span></div>
            <img src="__IMG__/wuyin/wy-zoom01.jpg"/>
        </div>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>餐厅</span></div>
            <img src="__IMG__/wuyin/wy-zoom02.jpg"/>
        </div>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>卧室</span></div>
            <img src="__IMG__/wuyin/wy-zoom03.jpg"/>
        </div>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>儿童房</span></div>
            <img src="__IMG__/wuyin/wy-zoom04.jpg"/>
        </div>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>书房</span></div>
            <img src="__IMG__/wuyin/wy-zoom05.jpg"/>
        </div>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>更衣间</span></div>
            <img src="__IMG__/wuyin/wy-zoom06.jpg"/>
        </div>
        <div class="bigimg">
            <div class="addr"><img src="__CSS__/images/lpng.png"/><span>卫生间</span></div>
            <img src="__IMG__/wuyin/wy-zoom07.jpg"/>
        </div>
    </section>
    <section class="sec-4 clearfix">
        <h3 class="wood">799元/平 无印实景样板间配置清单</h3>
        <table>
            <tr>
                <th width="20%">空间</th>
                <th width="80%">项目</th>
            </tr>
            <tr>
                <td rowspan="4">餐客厅</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>墙/顶层基层处理</td>
            </tr>
            <tr>
                <td>墙/顶面刷涂料</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td rowspan="8">厨房</td>
                <td>墙砖通铺</td>
            </tr>
            <tr>
                <td>地砖通铺</td>
            </tr>
            <tr>
                <td>厨柜</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>铝扣板吊顶</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>包立管</td>
            </tr>
            <tr>
                <td rowspan="10">卫生间</td>
                <td>墙砖通铺</td>
            </tr>
            <tr>
                <td>地砖通铺</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>过门石</td>
            </tr>
            <tr>
                <td>铝扣板吊顶</td>
            </tr>
            <tr>
                <td>卫浴套装</td>
            </tr>
            <tr>
                <td>地漏</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣 </td>
            </tr>
            <tr>
                <td>地面防水</td>
            </tr>
            <tr>
                <td>包立管</td>
            </tr>
            <tr>
                <td rowspan="7">卧室</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>衣柜</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td rowspan="6">书房</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>巴赫曼内门及五金</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
                <td>室内门加门垛或加建门楣</td>
            </tr>
            <tr>
                <td rowspan="4">阳台</td>
                <td>地板/地砖通铺</td>
            </tr>
            <tr>
                <td>墙、顶面基层处理</td>
            </tr>
            <tr>
                <td>墙、顶面刷涂料</td>
            </tr>
            <tr>
                <td>地板铺贴区域地面找平</td>
            </tr>
            <tr>
              <td colspan="2">温馨提示：以上所有品牌型号，仅为设计推荐，具体配置以各城市门店设计师推荐为准。</td>
            </tr>
        </table>
    </section>
    
    <section class="sc-floor-row clearfix zoom-bottom-p">
       <div class="clearfix  zoom-sub-wrap" >
        <p class="more-deser-btn"><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo['LEYUCID']}&f={$cityinfo['LEYUFID']}&g={$cityinfo['LEYUGID']}" target="_blank">更多详询设计师</a></p>
       </div>
    </section>
    
  </div>
  <!--主体内容 end-->

<!--底部悬浮-->
<div class="zoom-bottom-fiexd">
  <h2 class="z-b-f-l">我喜欢，就要这一套</h2>
  <p class="z-b-f-r"><a href="{:U('/order/index?type=11&city='.$city.'')}" class="free-lf">免费量房</a></p>
</div>
<!--底部悬浮 end-->


</div>
</body>
</html>
