<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/yangbanjian.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
      <a href="{:U('/index/index?city='.$city)}" class="last"></a>
      <span class="jz-top-icon"></span>
        <h3 class="clearfix">
          样板间详情
        </h3>
    </section>
    <section class="sc-floor-row clearfix">
        <div class="zoom-detail-img clearfix">
          <img src="__IMG__/zara/zara-zoom-img01.jpg"/>
            <img src="__IMG__/zara/zara-zoom-img02.jpg"/>
            <img src="__IMG__/zara/zara-zoom-img03.jpg"/>
            <img src="__IMG__/zara/zara-zoom-img04.jpg"/>
        </div>  
    </section>
    
    <section class="sc-floor-row clearfix">
      <div class="zoom-detail-cl zoom-sub-wrap">
          <ul class="z-d-table clearfix">
             <li>
               <h3 class="z-d-h3">餐厅客厅一体化</h3>
               <p class="z-d-l-text">现代化色彩，层次感设计</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img05.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <h3 class="z-d-h3">电视背景墙</h3>
               <p class="z-d-l-text">银灰色、高光材质尽显现代感</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img06.jpg"/></li>
          </ul>
        </div>
    </section>
    
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zara/zara-zoom-img07.jpg"/>
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <h2 class="z-d-h2">开放性厨房空间，厨房和岛台兼得</h2>
          <img src="__IMG__/zara/zara-zoom-img08.jpg"/>
        </div>
    </section>
    
    <section class="sc-floor-row clearfix">
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <h2 class="z-d-yellow-t">999元/平  包含整套好厨柜<b class="d-down-arrow"></b></h2>
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">防水、防潮板设计，<br/>结实耐用</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img09.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">人造石台面，耐120℃高温</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img10.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">100%全阻尼抽屉，<br/>缓慢关闭防碰撞柜体</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img11.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">18MM厚面板，提升20%<br/>使用寿命<br/>6面封边更环保</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img12.jpg"/></li>
          </ul>
        </div>
    </section>
    
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zara/zara-zoom-img13.jpg"/>
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <h2 class="z-d-h2">干湿分区功能设计,使用便捷 安心宁静</h2>
          <img src="__IMG__/zara/zara-zoom-img14.jpg"/>
        </div>
    </section>
    
    
    <section class="sc-floor-row clearfix">
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <h2 class="z-d-yellow-t">999元/平  包含的整体卫浴<b class="d-down-arrow"></b></h2>
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">地砖：浅色系纯色哑光砖；<br/>墙砖：深色系纯色哑光砖</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img15.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">面盆龙头：大牌云集选择多，<br/>科勒、美标、吉事多、<br/>法恩莎…</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img16.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">防味地漏：<br/>H5原生铜铸就超长寿命</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img17.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">铝扣板吊顶：<br/>原生铝辊涂天花</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img18.jpg"/></li>
          </ul>
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">坐便器：高品质，易清洁</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img19.jpg"/></li>
          </ul>
          
          
          <ul class="z-d-table clearfix">
             <li>
               <p class="z-d-l-text">花洒：智能花洒，冷热兼容</p>
             </li>
             <li><img src="__IMG__/zara/zara-zoom-img20.jpg"/></li>
          </ul>
        </div>
    </section>
    
    
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zara/zara-zoom-img21.jpg"/>
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <h2 class="z-d-h2">深咖色顶部和墙面的应用，利于睡眠</h2>
          <img src="__IMG__/zara/zara-zoom-img22.jpg"/>
        </div>
    </section>
    
    <section class="sc-floor-row clearfix">
        <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <h2 class="z-d-yellow-t">999元/平  包含环保好主材<b class="d-down-arrow"></b></h2>
          <p style="margin-bottom:20px;"><img src="__IMG__/zara/zara-zoom-img23.jpg"/></p>
          <p style="margin-bottom:20px;"><img src="__IMG__/zara/zara-zoom-img24.jpg"/></p>
          <p style="margin-bottom:20px;"><img src="__IMG__/zara/zara-zoom-img25.jpg"/></p>
        </div>
    </section>
    
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zara/zara-zoom-img26.jpg"/>
      <ul class="zoom-pic-img clearfix " >
         <li><img src="__IMG__/zara/zara-zoom-img27.jpg"/></li>
         <li><img src="__IMG__/zara/zara-zoom-img28.jpg"/></li>
         <li><img src="__IMG__/zara/zara-zoom-img29.jpg"/></li>
         <li><img src="__IMG__/zara/zara-zoom-img30.jpg"/></li>
         <li><img src="__IMG__/zara/zara-zoom-img31.jpg"/></li>
         <li><img src="__IMG__/zara/zara-zoom-img32.jpg"/></li>
        </ul>
    </section>
    
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zara/zara-zoom-img33.jpg"/>
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bordercolor="#000000" class="zoom-detail-table">
           <thead>
              <tr>
                <td width="29%" valign="middle">空间</td>
                <td width="71%" valign="middle">项目</td>
              </tr>
           </thead>
              <tr>
                <td rowspan="5">餐客厅</td>
                <td>地板/大地砖通铺</td>
              </tr>
              <tr>
                <td>墙、顶面刷涂料</td>
              </tr>
              <tr>
                <td>墙、顶面基层处理</td>
              </tr>
              <tr>
                <td>三层叠式顶角线</td>
              </tr>
              <tr>
                <td>地板铺贴区域地面找平</td>
              </tr>
              <tr>
                <td rowspan="8">厨房</td>
                <td>墙/地砖通铺</td>
              </tr>
              <tr>
                <td>橱柜</td>
              </tr>
              <tr>
                <td>巴赫曼内门及五金</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>吊顶（铝扣板/防水石膏板）</td>
              </tr>
              <tr>
                <td>地漏</td>
              </tr>
              <tr>
                <td>室内门加门垛或加建门楣</td>
              </tr>
              <tr>
                <td>包立管</td>
              </tr>
              <tr>
                <td rowspan="11">卫生间</td>
                <td>墙/地砖通铺</td>
              </tr>
              <tr>
                <td>巴赫曼内门及五金</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>吊顶（铝扣板/防水石膏板）</td>
              </tr>
              <tr>
                <td height="17">浴霸</td>
              </tr>
              <tr>
                <td>卫浴套装</td>
              </tr>
              <tr>
                <td>地漏</td>
              </tr>
              <tr>
                <td>三层叠式顶角线</td>
              </tr>
              <tr>
                <td>内门加门垛或加建门楣</td>
              </tr>
              <tr>
                <td>包立管</td>
              </tr>
              <tr>
                <td>地面防水</td>
              </tr>
              <tr>
                <td rowspan="9">卧室/书房</td>
                <td>地板/大地砖通铺</td>
              </tr>
              <tr>
                <td>巴赫曼内门及五金</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>三层叠式顶角线</td>
              </tr>
              <tr>
                <td>背景墙</td>
              </tr>
              <tr>
                <td>室内门加门垛或加建门楣</td>
              </tr>
              <tr>
                <td>墙、顶面刷涂料</td>
              </tr>
              <tr>
                <td>墙、顶面基层处理</td>
              </tr>
              <tr>
                <td>地板铺贴区域地面找平</td>
              </tr>
              <tr>
                <td rowspan="5">阳台</td>
                <td>地板/大地砖通铺</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>三层叠式顶角线</td>
              </tr>
              <tr>
                <td>墙、顶面刷涂料</td>
              </tr>
              <tr>
                <td>墙、顶面基层处理</td>
              </tr>
              <tr>
                <td colspan="2" style="height:80px;">温馨提示：<br/>以上所有品牌型号，仅为设计推荐，具体配置以各城市门店设计师推荐为准。</td>
              </tr>
          </table>
      </div>
    </section>
    
    
    <section class="sc-floor-row clearfix zoom-bottom-p">
       <div class="clearfix  zoom-sub-wrap" >
        <p class="more-deser-btn"><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo['LEYUCID']}&f={$cityinfo['LEYUFID']}&g={$cityinfo['LEYUGID']}" target="_blank">更多详询设计师</a></p>
       </div>
    </section>
    
    
  </div>
  <!--主体内容 end-->

<!--底部悬浮-->
<div class="zoom-bottom-fiexd">
  <h2 class="z-b-f-l">我喜欢，就要这一套</h2>
  <p class="z-b-f-r"><a href="{:U('/order/index?type=11&city='.$city.'')}" class="free-lf">免费量房</a></p>
</div>
<!--底部悬浮 end-->


</div>
</body>
</html>
