<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/yangbanjian.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
      <a href="{:U('/index/index?city='.$city)}" class="last"></a>
      <span class="jz-top-icon"></span>
        <h3 class="clearfix">
          样板间详情
        </h3>
    </section>
    <section class="sc-floor-row clearfix">
        <div class="zoom-detail-img clearfix">
          <img src="__IMG__/zs/zs-zoom-img01.jpg"/>
            <img src="__IMG__/zs/zs-zoom-img02.jpg"/>
            <img src="__IMG__/zs/zs-zoom-img03.jpg"/>
            <img src="__IMG__/zs/zs-zoom-img04.jpg"/>
        </div>  
    </section>
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">天方地圆的餐厅</h2>
        <img src="__IMG__/zs/zs-zoom-img05.jpg"/>
      <div class="zoom-detail-cl zoom-sub-wrap2">
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black"> 1399元/平包含</h3>
               <p class="z-d-l-text">高水准吊顶：石膏 <br/> 板吊顶+独特斜角<br/>  45°高难度施工  </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img06.jpg"/></li>
          </ul>
        </div>
    </section>
    
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">对称结构的厨房</h2>
        <img src="__IMG__/zs/zs-zoom-img07.jpg"/>
    </section>
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">1399元/平米 (包含整套好厨柜) </h2>
        <div class="zoom-yezhi01"></div>
      <div class="zoom-detail-cl zoom-sub-wrap2">
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 black"> •丰田汽车级烤漆工艺，色 泽饱满，洁净、便利    </h3>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img08.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 black">•人造石台面，耐120℃ 高温  </h3>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img09.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 black">•100%全阻尼抽屉 <br/>•缓慢关闭防碰撞柜体 </h3>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img10.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 black">•18MM厚面板，提 升20% 使用寿命 <br/>• 6面封边更环保 </h3>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img11.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 black">•防水、防潮板设计结实耐用 </h3>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img12.jpg"/></li>
          </ul>
        </div>
    </section>
    
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2 zoom-yezhi02">庄重沉稳的卧室</h2>
        <img src="__IMG__/zs/zs-zoom-img13.jpg"/>
    </section>
    
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">1399元/平米 (包含环保好主材 ) </h2>
      <div class="zoom-detail-cl zoom-sub-wrap2">
          <ul class="z-d-table2 clearfix">
             <li style="position:relative">
               <h3 class="z-d-h3 fb black" style="position:relative; z-index:22;"> 吊顶：</h3>
               <p class="z-d-l-text"> 独有的吊顶凹槽设 <br/> 计，空间层次的延<br/>  伸感</p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img14.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <img src="__IMG__/zs/zs-zoom-img15-1.jpg"/>
             </li>
             <li style="vertical-align:top;"><img src="__IMG__/zs/zs-zoom-img15.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <img src="__IMG__/zs/zs-zoom-img16-1.jpg"/>
             </li>
             <li style="vertical-align:top;"><img src="__IMG__/zs/zs-zoom-img16.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black"> 进口墙漆 ：</h3>
               <p class="z-d-l-text black"> 欧洲标准 E1级环保</p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img17.jpg"/></li>
          </ul>
        </div>
    </section>
    
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">静雅别致的书房</h2>
        <img src="__IMG__/zs/zs-zoom-img18.jpg"/>
        <div class="zoom-detail-cl zoom-sub-wrap2">
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black"> <img src="__IMG__/zs/z-jiantou.png" width="30" height="35" style="width:30px; height:30px;">推荐升级<br>木制格栅： </h3>
               <p class="z-d-l-text">充满浓厚古典气息 </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img19.jpg"/></li>
          </ul>
        </div>
    </section>
    
   <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">沐浴也是一种文化</h2>
        <img src="__IMG__/zs/zs-zoom-img20.jpg"/>
    </section>
    
    
    <section class="sc-floor-row clearfix">
        <h2 class="zs-zoom-d-h2">1399元/平米 (包含的整体卫浴 ) </h2>
        <div class="zoom-detail-cl zoom-sub-wrap2">
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black"> <img src="__IMG__/zs/z-jiantou.png" width="30" height="35" style="width:30px; height:30px;">推荐升级<br>双L型阳角线：</h3>
               <p class="z-d-l-text"> 美观、安全 </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img21.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black"> 花洒：</h3>
               <p class="z-d-l-text">智能花洒，冷热兼容 </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img22.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black"> 坐便器：</h3>
               <p class="z-d-l-text">高品质，易清洁  </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img23.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black">陶制釉面砖/瓷质砖: </h3>
               <p class="z-d-l-text">米色/灰色/黑色哑光 </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img24.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black">防味地漏： </h3>
               <p class="z-d-l-text">H5原生铜铸就超长寿命  </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img25.jpg"/></li>
          </ul>
          
          <ul class="z-d-table2 clearfix">
             <li>
               <h3 class="z-d-h3 fb black">吊顶： </h3>
               <p class="z-d-l-text">原生铝辊涂天花 </p>
             </li>
             <li><img src="__IMG__/zs/zs-zoom-img26.jpg"/></li>
          </ul>
        </div>
    </section>
    
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zs/zs-zoom-img27.jpg"/>
        <img src="__IMG__/zs/zs-zoom-img28.jpg" class="z-mb"/>
        <img src="__IMG__/zs/zs-zoom-img29.jpg" class="z-mb"/>
        <img src="__IMG__/zs/zs-zoom-img30.jpg" class="z-mb"/>
        <img src="__IMG__/zs/zs-zoom-img31.jpg" class="z-mb"/>
        <img src="__IMG__/zs/zs-zoom-img32.jpg" class="z-mb"/>
        <img src="__IMG__/zs/zs-zoom-img33.jpg" class="z-mb"/>
        
        
    </section>
   
    <section class="sc-floor-row clearfix">
        <img src="__IMG__/zs/zs-zoom-img34.jpg" class="z-mb"/>
      <div class="zoom-detail-img clearfix  zoom-sub-wrap" >
          <table width="100%" border="0" cellspacing="0" cellpadding="0" bordercolor="#000000" class="zoom-detail-table">
           <thead>
              <tr>
                <td width="29%" valign="middle">空间</td>
                <td width="71%" valign="middle">项目</td>
              </tr>
           </thead>
              <tr>
                <td rowspan="9">餐客厅</td>
                <td>地板/大地砖通铺</td>
              </tr>
              <tr>
                <td>踢脚线</td>
              </tr>
              <tr>
                <td>入户门半包套</td>
              </tr>
              <tr>
                <td>石膏板直线造型吊顶</td>
              </tr>
              <tr>
                <td>石膏板直线吊顶安装，顶角45度斜边处理、</td>
              </tr>
              <tr>
                <td>吊顶与墙面虚接1cm凹槽处理</td>
              </tr>
              <tr>
                <td>墙、顶面基层处理</td>
              </tr>
              <tr>
                <td>墙、顶面刷涂料</td>
              </tr>
              <tr>
                <td>地板铺贴区域地面找平</td>
              </tr>
              <tr>
                <td rowspan="11">厨房</td>
                <td>厨柜</td>
              </tr>
              <tr>
                <td>墙砖通铺</td>
              </tr>
              <tr>
                <td>地砖通铺</td>
              </tr>
              <tr>
                <td>巴赫曼内门及五金</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>室内门加门垛或加建门楣</td>
              </tr>
              <tr>
                <td>吊顶（铝扣板/防水石膏板）</td>
              </tr>
              <tr>
                <td>吸顶灯</td>
              </tr>
              <tr>
                <td>包立管</td>
              </tr>
              <tr>
                <td>墙砖薄贴法</td>
              </tr>
              <tr>
                <td>墙面水泥砂浆找平</td>
              </tr>
              <tr>
                <td rowspan="11">卫生间</td>
                <td>墙/地砖通铺</td>
              </tr>
              <tr>
                <td>巴赫曼内门及五金</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>吊顶（铝扣板/防水石膏板）</td>
              </tr>
              <tr>
                <td height="17">浴霸</td>
              </tr>
              <tr>
                <td>卫浴套装</td>
              </tr>
              <tr>
                <td>地漏</td>
              </tr>
              <tr>
                <td>三层叠式顶角线</td>
              </tr>
              <tr>
                <td>内门加门垛或加建门楣</td>
              </tr>
              <tr>
                <td>包立管</td>
              </tr>
              <tr>
                <td>地面防水</td>
              </tr>
              <tr>
                <td rowspan="9">卧室</td>
                <td>踢脚线</td>
              </tr>
              <tr>
                <td>巴赫曼内门及五金</td>
              </tr>
              <tr>
                <td>过门石</td>
              </tr>
              <tr>
                <td>室内门加门垛或加建门楣</td>
              </tr>
              <tr>
                <td>床头背景墙</td>
              </tr>
              <tr>
                <td>石膏板平面吊顶</td>
              </tr>
              <tr>
                <td>墙、顶面基层处理</td>
              </tr>
              <tr>
                <td>墙、顶面刷涂料</td>
              </tr>
              <tr>
                <td>地板铺贴区域地面找平</td>
              </tr>
              <tr>
                <td rowspan="3">阳台</td>
                <td>地砖通铺</td>
              </tr>
              <tr>
                <td>墙、顶面基层处理</td>
              </tr>
              <tr>
                <td>墙、顶面刷涂料</td>
              </tr>

              <tr>
                <td colspan="2" style="height:80px;">温馨提示：<br/>以上所有品牌型号，仅为设计推荐，具体配置以各城市门店设计师推荐为准。</td>
              </tr>
          </table>
      </div>
    </section>
    
    
    <section class="sc-floor-row clearfix zoom-bottom-p">
       <div class="clearfix  zoom-sub-wrap" >
        <p class="more-deser-btn"><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo['LEYUCID']}&f={$cityinfo['LEYUFID']}&g={$cityinfo['LEYUGID']}" target="_blank">更多详询设计师</a></p>
       </div>
    </section>
    
    
  </div>
  <!--主体内容 end-->

<!--底部悬浮-->
<div class="zoom-bottom-fiexd">
  <h2 class="z-b-f-l">我喜欢，就要这一套</h2>
  <p class="z-b-f-r"><a href="{:U('/order/index?type=11&city='.$city.'')}" class="free-lf">免费量房</a></p>
</div>
<!--底部悬浮 end-->



</div>
</body>
</html>
