
<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/listtags/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="60">
			
			<dl>
				<dt>标签名称：</dt>
				<dd><input id="TAG" type="text" name="TAG" value=""  />
    			</dd>
			</dl>
           <input type="hidden" name="STATUS" value="0" />
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

