<include file="utop" />

        <!--后台-设计师-->
        <section>
            <div class="ht-designer-card">
        <if condition="$wxuserinfo.img eq '' or $wxuserinfo.img eq '0'"> 
            	<div class="designer-pic fl"><a href="{:U('/UserCenter/wdzl')}">
            	<img src="/Public/user/img/mrtx.jpg" width="100%" /></a></div>
        <else/>
            	<div class="designer-pic fl"><a href="{:U('/UserCenter/wdzl')}">
            	<img src="{$wxuserinfo.img}" width="100%"  /></a></div>
        </if>
                <div class="designer-infor fr">
                	<div class="infor-top"><span class="des-name fl">{$userinfo.username}</span><p class="fl gj"></p><div class="clear"></div></div>
                    <div class="infor-bottom"><img src="/Public/user/img/dp-08.png" /></div>
                </div>
                <div class="clear"></div>
            </div>
            
            
            <div class="ht-add">
            	<div class="add-con"><a href="{:U('/Story/add')}"><img src="/Public/user/img/ht-10.png" />添加新接龙</a></div>
                <div class="add-con"><a href="{:U('/UserCenter/wdjl')}"><img src="/Public/user/img/ht-10.png" />我的接龙</a></div>
                <div class="add-con"><a href="{:U('/UserCenter/wdjlin')}"><img src="/Public/user/img/ht-10.png" />我参加的接龙</a></div>
                <div class="add-con add-con-nobor"><a href="{:U('/UserCenter/history')}"><img src="/Public/user/img/ht-10.png" />我的查看历史</a></div>
            	<div class="add-con"><a href="{:U('/UserCenter/repassword')}"><img src="/Public/user/img/ht-10.png" />修改密码</a></div>
            </div>
            
            <!--经营-->
            <!--<div class="jy">
            	<div class="jy-tit">经营</div>
                <div class="jy-con">
                	<span class="jy-con-1 fl">粉丝：</span><span class="jy-con-2 fl"><img src="/Public/user/img/ht-05.jpg" /></span><span class="jy-con-3 fr">LV1</span><div class="clear"></div>
                    <span class="jy-con-1 fl">客户：</span><span class="jy-con-2 fl"><img src="/Public/user/img/ht-05.jpg" /></span><span class="jy-con-3 fr">LV1</span><div class="clear"></div>
                </div>
            </div>-->
            
        </section>
        <!--后台-设计师 end-->
        
       
        
        
    </div>
</body>
</html>