<include file="utop" />

        <!--后台-个人资料-->
        <section>
        <form action="__APP__/WxUseradmin/wdzlin" method="post" id="wdzlform">
            <div class="ht-designer-card ht-tx">
            	<span class="fl">头像</span>
        <if condition="$wxuserinfo.img eq '' or $wxuserinfo.img eq '0'"> 
            	<div class="designer-pic fr"><img src="/Public/user/img/mrtx.jpg" width="71" height="71" /></div>
        <else/>
            	<div class="designer-pic fr"><img src="{$wxuserinfo.img}" width="71" height="71" /></div>
        </if>
                <div class="clear"></div>
            </div>
            
           	<div class="ht-add ht-add2">
            	<div class="add-con add-con2">用户名:{$wxuserinfo.username}</div>
                <div class="add-con add-con2">原密码:<input type="text" id="password" name="password" value="" class="ht-infor"></div>
                <div class="add-con add-con2">新密码:<input type="text" id="newpassword" name="newpassword" value="" class="ht-infor"></div>

                <div class="add-con add-con2">重复密码:<input type="text" id="repassword" name="repassword" value="" class="ht-infor"></div>
                
            </div>
            
                    <div class="ck-more ck-more2"><a href="javascript:morekh();" class="bor-radius">保存</a></div>                   
                    
            </form>
        </section>
        <!--后台-个人资料 end-->
        <script>
        function morekh(){
        	var password = $("#password").val();
        	var newpassword = $("#newpassword").val();
        	var repassword = $("#repassword").val();
        	if(password.length<6){
        		alert('密码必须6位以上哦');
        		return false;
        	}
        	if(newpassword!=repassword){
        		alert('两次密码不一样');
        		return false;
        	}
        	$("#wdzlform").submit();
        }
        </script>
       
        
        
    </div>
</body>
</html>