<include file="Common/top" />


<!--页面独立js和css区-->
<link href="__CSS__/cs-index2015.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
<script src="__JS__/sc-index2015.js" type="text/javascript"><!--当前页面独立js文件--></script>
</head>
<style>
.simptitlemore{display: block;
width: 100%;
height: 50px;
background: #eee;
margin-top: 10px;
text-align: center;
line-height: 50px;
padding-left: 15px;
font-size: 14px;}
</style>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row clearfix">
      <div class="ui-banner-adv index-banner-wrap index-slide">
        <!--scroll-->
          <div class="scroll relative">
            <div class="scroll_box" id="scroll_img">
            </div>
          <span class="scroll_position_bg opacity6"></span>
              <ul class="scroll_position" id='scroll_position'>              
              </ul>
          </div>
	  <!--scroll-->
       
      </div>
    </section>
    <!--end-->
    <!--**********end**********-->
    <section class="sc-floor-row clearfix">
    <div class="i-fg-line"><span class="ifg-icon01"></span><h2 class="i-fg-title"><strong>{$info.name}</strong></h2></div>
    
      <ul class="index-classify clearfix" id="searchres">
                  <volist name="list" id="vo">  

                    <li> <div class="xsimg"><img src="{$imgurl}{$vo.img}" /></div>
                           <div class="xsname"><a href="{:U('/book/index?id='.$vo['id'].'')}"><span class="gstitle">{$vo.name} </span></a></div>
                           
                          <div class="xscontent"><a href="{:U('/book/index?id='.$vo['id'].'')}">{$vo.description}...</a></div>
					
					</li>
                  </volist>
      </ul>
        <a href="javascript:searchmore();" class="simptitlemore">查看更多</a>
     
    </section>
    <!--**********end**********-->
    
  <script type='text/javascript'>
  var start = 0;
  function searchmore(){
	  var id = "{$id}";
	  var urls = "{:U('/book/menulistmore')}"+'?id='+id+'&start='+start;
		var code = $("#code").val();
		$.ajax({
	        type: "get",
	        url: urls,
	        async:false,
	        data: 
			{
			},
	        dataType: "html",
	        success: function(data){
	        	if(data != ''){
	        		$("#searchres").append(data);
	        		  start++;
	        	}else{
	        		alert('没有了')
	        	}
	        }
		});
  }
</script>
    
<!--footer-->
<footer class="sc-view-footer clearfix">    
</footer>
<!--footer end-->
<!--悬浮操作
  <div class="i-xf-icon-wrap">
    <ul class="i-xf-list clearfix">
      <li><a href="javascript:alert('敬请期待……');" class="i-xf-icon01">&nbsp;</a></li>
      <li><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo.LEYUCID}&f={$cityinfo.LEYUFID}&{$leyurl}" class="i-xf-icon02" target="_blank">&nbsp;</a></li>
      <li><a href="tel:<if condition="$Promoter.PromoterTel neq ''">{$Promoter.PromoterTel}<else/>{$cityinfo.TELEPHONE}</if>" class="i-xf-icon03" target="_blank">&nbsp;</a></li>
      <li><a href="{:U('/order/index?type=12&city='.$city.'')}" class="i-xf-icon04">&nbsp;</a></li>
    </ul>
  </div>-->
  <!--悬浮操作 end-->  
</div>
</body>
</html>
