<form id="pagerForm" action="__URL__/index" method="post">
    <input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
    <input type="hidden" name="_order" value="{$Think.request._order}"/>
    <input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
    <input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
    <div class="searchBar">
        <table class="searchContent">
            <tr>
                <td>
                    <b>搜索</b> 
                    &nbsp;&nbsp;城市：
                    <select name="CID" style="width:150px;">
                    <?php if(empty($cityna)) { ?>
                        <option value="">请选择</option>
                    <?php }else{ ?>
                        <option value="{$MCID}">{$cityna}</option>
                    <?php } ?>
                        <volist  name="cityname" id="data">
                        <option value="{$data.ID}">{$data['NAME']}</option>
                        </volist>   
                    </select>
                    &nbsp;&nbsp;手机号：<input size="10" type="text" name="mobilephone" value="
                        {$Think.post.mobilephone}"/>
                    &nbsp; &nbsp;用户名:<input type="text" name="username" value="{$Think.post.username}" /> 
                        
                </td>
                <td>
                    <div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="__URL__/add" target="navTab" width="550" height="380" rel="user_msg" title="添加用户"><span>添加用户</span></a></li>
            <li><a class="edit" href="__URL__/edit/id/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}"  width="550" height="380" target="navTab"><span>修改</span></a></li>
            <li><a class="delete" href="__CONTROLLER__/del" target="selectedTodo" postType="string" title="确定要删除吗?"><span>批量删除</span></a></li>
            <li class="line">line</li>
            <li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="112">
        <thead>
            <tr>
                <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                <th width="100">城市</th>
                <th width="150">用户名</th>
                <th width="150">手机</th>
                <th width="150">真实姓名</th>
                <th width="150">用户类型</th>
                <th width="150">优惠券</th>
                <th width="150">注册状态</th>
                <th width="150">性别</th>
                <th width="150">地址</th>
                <th width="150">面积</th>
                <th width="150">注册时间</th>
                <th width="150">操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr target="item_id" rel="{$vo.id}">
                    <td><input name="ids" value="{$vo.id}" type="checkbox"></td>
                    <td>{$vo.CID|getcityname}</td>
                    <td>{$vo.username}</td>
                    <if  condition="($vo.mobilephone eq 0)">
                    <td>暂无</td>
                    <else/>
                    <td>{$vo.mobilephone}</td>
                    </if>
                    <td>{$vo.truename}</td>
                    <if  condition="($vo.usertype eq 0)">
                    <td>普通用户</td>
                    <elseif condition="($vo.usertype eq 1)"/>
                    <td>设计师</td>
                    </if>
                    <if  condition="($vo.coupon eq 0)">
                    <td>暂无</td>
                    <elseif condition="($vo.coupon gt 0)"/>
                    <td>{$vo.coupon}张</td>
                    </if>
                    <if  condition="($vo.registstatus eq 0)">
                    <td>新房不着急装修</td>
                    <elseif condition="($vo.registstatus eq 1)"/>
                    <td>新房着急装修</td>
                    <elseif condition="($vo.registstatus eq 2)"/>
                    <td>老房不着急装修</td>
                    <elseif condition="($vo.registstatus eq 3)"/>
                    <td>老房着急装修</td>
                    </if>
                    <if  condition="($vo.sex eq True)">
                    <td>男</td>
                    <elseif condition="($vo.sex eq False)"/>
                    <td>女</td>
                    </if>
                    <td>{$vo.Address}</td>
                    <if condition="($vo.area gt 0)">
                    <td>{$vo.area}平米</td>
                    <elseif condition="($vo.area eq 0)"/>
                    <td></td>
                    </if>
                    <td>{$vo.registerTime|substr=0,13}</td>
                    <td>
                    <a class="edit" href="__URL__/edit/id/{$vo.id}"  width="550" height="380" target="navTab"><span>编辑</span></a>&nbsp;|&nbsp;
                    <a class="delete" href="__CONTROLLER__/del/ids/{$vo.id}" target="ajaxTodo" postType="string" title="确定要删除吗?">删除</a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})">
                <option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
                <option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
                <option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
                <option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
                <option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
            </select>
            <span>共{$totalCount}条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="5" currentPage="{$currentPage}"></div>
    </div>
</div>
