.positionBar{
	position: fixed!important;
	bottom:0px;
	left: 0px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
	padding: 1.2em 1.5em;
	width: 100%;
	z-index: 999;
	font-size: 0.85em;
	height:55px;
	line-height: 55px;
}
span.position-mflf{
	font-size: .85em;
	color: #fff;
	font-weight: 700;
	float: left;
	height: 30px;
	line-height: 30px;
}
a.position-mflfA{
	width: 20%;
	float: right;
	height: 30px;
	line-height: 30px;
	color: #2f2725;
	font-size: .85em;
	text-align: center;
	display: block;
	background: #ea5404;
}