<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>五大群族样板间-实创</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="author" content="m.sc.com">
<!--公共js和css区-->
<link href="../../css/reset.css" type="text/css" rel="stylesheet">
<link href="../../css/ui-base.css" type="text/css" rel="stylesheet">
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../../js/Component.js" type="text/javascript"><!--全局公用效果js--></script>


<!--页面独立js和css区-->
<link href="../../css/zuqun.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
</head>
<body>
<div class="cs-view-wrap clearfix">
  <header class="sc-header-search top-fixed">
    <div class="header-search-row">
     <input type="text" class="top-search-inut" placeholder="输入您要搜索的产品">
     <a href="#" class="search-btn">搜索</a>
    </div>
    <section class="sc-logo-row clearfix">
      <h1 class="sc-logo"><img src="../../css/images/logo.png"></h1>
      <div class="sc-top-city">
        <i></i>
        <strong class="sc-top-city-choose">北京</strong>
      </div>
    </section>
    <!--logo区部分 end-->
  </header>
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
        <span class="jz-top-icon1"></span>
        <h3 class="clearfix">
        	<p class="chi-ti">五大群族样板间</p>
            <p class="eng-ti">ETHNIC GROUPS</p>
        </h3>
    </section>
    <section class="sc-floor-row section-2 clearfix">
        <div class="illusion img01 clearfix">
        	<img src="../../temp/zuqun-img01.png"/>
        </div>
        <div class="price clearfix">
        	<img class="uparrow" src="../../css/images/uparrow.png"/><span class="pricestyle">￥999/平米</span><a href="#">了解详情</a>
        </div>
    </section>
    <section class="sc-floor-row section-3 clearfix">
    	<div class="illusion img01 clearfix">
            <img src="../../temp/zuqun-img02.png"/>
        </div>
        <div class="price clearfix">
        	<img class="uparrow" src="../../css/images/uparrow.png"/><span class="pricestyle">￥999/平米</span><a href="#">了解详情</a>
        </div>
    </section>
    <section class="sc-floor-row section-4 clearfix">
    	<div class="illusion img01 clearfix">
        	<img src="../../temp/zuqun-img03.png"/>
        </div>
        <div class="price clearfix">
        	<img class="uparrow" src="../../css/images/uparrow.png"/><span class="pricestyle">￥999/平米</span><a href="#">了解详情</a>
        </div>
    </section>
    <section class="sc-floor-row section-5 clearfix">
    	<div class="illusion img01 clearfix">
        	<img src="../../temp/zuqun-img04.png"/>
        </div>
        <div class="price clearfix">
        	<img class="uparrow" src="../../css/images/uparrow.png"/><span class="pricestyle">￥999/平米</span><a href="#">了解详情</a>
        </div>
    </section>
    <section class="sc-floor-row section-6 clearfix">
    	<div class="illusion img01 clearfix">
        	<img src="../../temp/zuqun-img05.png"/>
        </div>
        <div class="price clearfix">
        	<img class="uparrow" src="../../css/images/uparrow.png"/><span class="pricestyle">￥999/平米</span><a href="#">了解详情</a>
        </div>
    </section>
  </div>
  <!--主体内容 end-->

<!--footer-->
<footer class="sc-view-footer clearfix">页脚内容正在设计中....</footer>
<!--footer end-->
</div>
</body>
</html>
