
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listuser/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>账号：</dt>
				<dd>{$vo.username}</dd>
			</dl>
			<dl>
				<dt>真实姓名：</dt>
				<dd><input type="text" style="width:100%" name="name" value="{$vo.name}"/></dd>
			</dl>
			<dl>
				<dt>Email：</dt>
				<dd><input type="text" class="required email" style="width:100%" name="email" value="{$vo.email}"/></dd>
			</dl>
            <dl>
				<dt>状态：</dt>
				<dd><input type="radio" name="state" value="0" <eq name="vo.state" value="0">checked</eq>/>未激活
                    <input type="radio" name="state" value="1" <eq name="vo.state" value="1">checked</eq>/>正常</dd>
			</dl>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

