<?php 
session_start();
require("./config/db_config.php");
require("./config/functions.php");
$uid = $_SESSION["uid"];
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>财务中心</title>
<link href="__CSS__/order.css" type="text/css" rel="stylesheet">
<link href="__CSS__/global.css" type="text/css" rel="stylesheet">
<link href="__CSS__/top-footer.css" type="text/css" rel="stylesheet">
<script src="__JS__/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    $(".scCwMore").click(function(){
        $(".scCwInfo").css("display","block");
    });
    $(".scCwSqBtn").click(function(){
      $(".scCwInfo").css("display","none");
    });
  });
</script>
</head>
<body>
	<!--*********************header 引入区*********************-->
<div class="header-wrap clearfix">
   <div class="sc-ui-topbar">
      <div class="layout clearfix">
          <div class="sc-ui-topbar-l f_l">
             <span class="sc-page" onclick="addCookie();"><i></i>收藏实创3</span>
             <span class="sc-location"><i></i><strong class="pr-address">北京</strong></span>
          </div>
          <!--left end-->
          <div class="sc-ui-topbar-r f_r">
            <span class="sc-wel">欢迎来到实创！</span>
            <span class="sc-t-login"><i></i><a href="#">[登录]</a> <a href="#">[免费注册]</a></span>
            <span class="sc-t-gj"><a href="#">家装管家</a></span>
          </div>
          <!--right end-->
      </div>
   </div>
   <!--sc-ui-topbar end-->
   <div class="sc-ui-header-bg">
       <div class="sc-logo-wrap">
          <div class="sc-logo-alpha opcity50"><!--背景颜色是否透明，如果透明添加 样式 opcity50--></div>
          <div class="sc-logo-container">
             <div class="layout clearfix">
               <a href="../index.html" class="sc-logo"><img src="__IMG__/logo.png" width="220" height="26"></a>
               <div class="sc-main-nav">
                 <a href="#" class="zx-start">[开始装修]</a>
                 <a href="../index.html">首  页</a>
                 <a href="../decoration/decoration-index.html">我要装修</a>
                 <a href="../drawing/special-photo-list.html">看效果图</a>
                 <a href="../hotcommunity/diary-index.html">我的小区</a>
                 <a href="../guide/renovation-index.html" target="_blank">装修攻略</a>
                 <a href="../characteristic/tese-index.html">实创特色</a>
               </div>
               <!--sc-main-nav end-->
               <h2 class="sc-call"><i></i><strong>400-03-28800</strong></h2>
             </div>
             <!--end-->
          </div>
       </div>
       <!--about-banner-->
       <div class="header-step-box">
         <h1 class="h-s-title">会员中心</h1>
       </div>
       <!--about-banner end-->
   </div>
   <!--sc-logo end-->
</div>
<!--*********************header 引入区 end*********************-->
<!--*********************contanier 内容区 *********************-->
<div class="layout container-minheight clearfix">
    <div class="web-step">
         <a href="#">首页 ></a>
         <a href="#">会员中心 > </a>
         <a>全过程管理</a>
     </div>
     <div class="scMain clearfix">

<include file="leftmenu" cwzx='id="current"' />

		<div class="scMRight">
			<div class="scMRTit"><h3>财务中心</h3></div>
			<div class="scMRCon">
				<div class="scCwxf">
<?php 

$connumber = $GLOBALS["db"]->getone("select connumber from process_manage where uid = $uid and isdefault = 1");
$mobile = $GLOBALS["db"]->getone("select mobile from process_manage where uid = $uid and isdefault = 1");
if($connumber=="")
{
  echo writescript("alert('您还没有绑定合同或没有选择默认合同号！');location.href='$BindUrl';");  
  exit();
}

//setmeal
$Setmeal = "";
$client = webservice();
$result=$client->GetUser(array('phone'=>$mobile,'password'=>'e10adc3949ba59abbe56e057f20f883e'));//查询中国郑州的天气，返回的是一个结构体
$xml = simplexml_load_string($result-> GetUserResult);
foreach($xml->Customer as $a) 
{ 
  if($a->PactNumber==$connumber)
  {
    $Setmeal = $a->Setmeal;
    break;
  }
}
//套餐名称
$setmealname = "";
$client = webservice();
$result=$client->GetSetMeal(array('setMealId'=>$Setmeal));
$xml = simplexml_load_string($result-> GetSetMealResult);
$setmealname = $xml->Name;

$Type = "";
$ShouldPayed = "";
$Amount = "";
$Date = "";
$TotalPayed = 0;
$TotalActually = 0;
$client = webservice();
$result=$client->APPGetPayed(array('pactnumber'=>$connumber));
$xml = simplexml_load_string($result-> APPGetPayedResult);
$enddate = "";
foreach($xml->Payed as $a) 
{ 
  $Type = $Type. $a->Type."|";
  $ShouldPayed = $ShouldPayed. $a->ShouldPayed."|";
  $Amount = $Amount . $a->Amount."|";
  $Date = $Date . $a->Date."|";
  if($a->Date!="")
  {
    $enddate = $a->Date;  
  }
  $TotalPayed = $TotalPayed + floatval($a->TotalPayed);
  $TotalActually = $TotalActually + floatval($a->TotalActually);
} 
$TypeArr = explode("|",$Type);
$ShouldPayedArr = explode("|",$ShouldPayed);
$AmountArr = explode("|",$Amount);
$DateArr = explode("|",$Date);
?>          
          <p id="zongde"></p>    
        </div>
        <div class="scCwHtable">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th width="16%">合同号</th>
                <th width="16%">整体家装系列</th>
                <th width="16%">合同总金额</th>
                <th width="10%">应收金额</th>
                <th width="10%">实收金额</th>
                <th width="16%">时间</th>
                <th width="16%">其他</th>
            </tr>
          <tr>
            <td><?php echo $connumber;?></td>
            <td><?php echo $setmealname;?></td>
            <td><?php echo $TotalActually;?></td>
            <td><?php echo $TotalActually;?></td>
            <td><?php echo $TotalPayed;?></td>
            <td><?php echo $enddate;?></td>
            <script>document.getElementById('zongde').innerHTML='您的总消费额：￥<?php echo $TotalPayed;?>';</script>
            <td><div class="scCwMore">查看详情</div></td>


          </tr>
          </table>
        </div>
        <div class="scCwInfo">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th width="50%">款项类别</th>
                <th width="15%">应收金额</th>
                <th width="15%">实收金额</th>
                <th width="20%">时间</th>
            </tr>
  <?php
  for($i=0;$i<count($TypeArr);$i++)
  {
    if($TypeArr[$i].""!="")
    {
  ?>
  <tr>
    <td><?php echo $TypeArr[$i];?></td>
    <td><?php echo $ShouldPayedArr[$i];?></td>
    <td><?php echo $AmountArr[$i];?></td>
    <td><?php echo $DateArr[$i];?></td>
  </tr>
  <?php
      }
  }
  ?>
          </table>
          <div class="scCwSqBtn">
              <img src="__IMG__/cwsqBtn.png" />
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
<!--*********************footer 引入区*********************-->
<div class="footer-wrap">
    <div class="layout clearfix footer-sub-nav-c">
       <dl class="footer-sub-nav-dl">
          <dt>服务支持</dt>
          <dd><a href="designer.html">设计师团队</a></dd>
          <dd><a href="#">实创展厅</a></dd>
          <dd><a href="#">企业客户入口</a></dd>
          <dd><a href="#">网站地图</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关于实创</dt>
          <dd><a href="#">独家优势</a></dd>
          <dd><a href="#">加入我们</a></dd>
          <dd><a href="#">责任声明</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关注我们</dt>
          <dd><a href="#"><i class="zhu-icon01"></i>新浪微博</a></dd>
          <dd><a href="#"><i class="zhu-icon02"></i>QQ空间</a></dd>
          <dd><a href="#"><i class="zhu-icon03"></i>官方微信</a></dd>
          <dd><a href="#"><i class="zhu-icon04"></i>天猫商城</a></dd>
       </dl>
       <div class="footer-call">
         <h2>400-03-28800</h2>
         <p class="f-day">周一至周日 8:00-18:00<br/>（仅收市话费）</p>
         <p class="f-btn-c"><a href="#" class="yellow-btn btn-animate w-200">在线咨询</a></p>
       </div>
    
    </div>
    
    <div class="ui-copyright">
      <p class="layout clearfix"><span class="f_l">Copyright @ 1997-2014北京实创装饰工程有限公司</span> <span class="f_r">京ICP备09034105号 京公网安备110102000606</span></p>
    </div>
</div>
<!--*********************footer 引入区 end*********************-->

	
</body>
</html>