<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>未绑定合同</title>
<link href="../../css/order.css" type="text/css" rel="stylesheet">
<link href="../../css/global.css" type="text/css" rel="stylesheet">
<link href="../../css/top-footer.css" type="text/css" rel="stylesheet">
</head>
<body>
	<!--*********************header 引入区*********************-->
<div class="header-wrap clearfix">
   <div class="sc-ui-topbar">
      <div class="layout clearfix">
          <div class="sc-ui-topbar-l f_l">
             <span class="sc-page" onclick="addCookie();"><i></i>收藏实创3</span>
             <span class="sc-location"><i></i><strong class="pr-address">北京</strong></span>
          </div>
          <!--left end-->
          <div class="sc-ui-topbar-r f_r">
            <span class="sc-wel">欢迎来到实创！</span>
            <span class="sc-t-login"><i></i><a href="#">[登录]</a> <a href="#">[免费注册]</a></span>
            <span class="sc-t-gj"><a href="#">家装管家</a></span>
          </div>
          <!--right end-->
      </div>
   </div>
   <!--sc-ui-topbar end-->
   <div class="sc-ui-header-bg">
       <div class="sc-logo-wrap">
          <div class="sc-logo-alpha opcity50"><!--背景颜色是否透明，如果透明添加 样式 opcity50--></div>
          <div class="sc-logo-container">
             <div class="layout clearfix">
               <a href="../index.html" class="sc-logo"><img src="../../images/logo.png" width="220" height="26"></a>
               <div class="sc-main-nav">
                 <a href="#" class="zx-start">[开始装修]</a>
                 <a href="../index.html">首  页</a>
                 <a href="../decoration/decoration-index.html">我要装修</a>
                 <a href="../drawing/special-photo-list.html">看效果图</a>
                 <a href="../hotcommunity/diary-index.html">我的小区</a>
                 <a href="../guide/renovation-index.html" target="_blank">装修攻略</a>
                 <a href="../characteristic/tese-index.html">实创特色</a>
               </div>
               <!--sc-main-nav end-->
               <h2 class="sc-call"><i></i><strong>400-03-28800</strong></h2>
             </div>
             <!--end-->
          </div>
       </div>
       <!--about-banner-->
       <div class="header-step-box">
         <h1 class="h-s-title">会员中心</h1>
       </div>
       <!--about-banner end-->
   </div>
   <!--sc-logo end-->
</div>
<!--*********************header 引入区 end*********************-->
<!--*********************contanier 内容区 *********************-->
<div class="layout container-minheight clearfix">
    <div class="web-step">
         <a href="#">首页 ></a>
         <a href="#">会员中心 > </a>
         <a>全过程管理</a>
     </div>
     <div class="scMain">
		<div class="scMLeft clearfix">
      <div class="order_left left">
      <div class="order_doc">
        <p>我的服务</p>
        <ul>
          <li class="btn-animate"><a href="">个人中心</a></li>
          <li class="btn-animate"><a href="">我的订单</a></li>
          <li class="btn-animate"><a href="">我的优惠</a></li>
        </ul>
      </div>
      <div class="order_doc">
        <p>全过程管理</p>
        <ul>
            <li class="btn-animate"><a href="zxgj.html">装修管家</a></li>
            <li id="current" class="btn-animate"><a href="bdht.html">绑定合同</a></li>
            <li class="btn-animate"><a href="zxjd.html">装修进度</a></li>
            <li class="btn-animate"><a href="cwzx.html">财务中心</a></li>
            <li class="btn-animate"><a href="clzx.html">材料中心</a></li>
            <li class="btn-animate"><a href="zxys.html">装修验收</a></li>
        </ul>
      </div>
      <div class="order_doc">
        <p>内容管理</p>
        <ul>
          <li class="btn-animate"><a href="">我的案例</a></li>
          <li class="btn-animate"><a href="">我的文章</a></li>
          <li id="none" class="btn-animate"><a href="">我的收藏</a></li>
        </ul>
      </div>
      <div class="order_doc">
        <p>账号管理</p>
        <ul>
          <li class="btn-animate"><a href="">资料修改</a></li>
          <li class="btn-animate"><a href="">密码设置</a></li>
          <li id="none" class="btn-animate"><a href="">我的消息</a></li>
        </ul>
      </div>
    </div>  
    </div>
		<div class="scMRight">
			<div class="scMRTit"><h3>绑定合同</h3></div>
			<div class="scMRCon">
				<div class="scWbdM">
          <p>您还没有绑定的合同，暂时无法体验全过程管理的服务哦~</p>  
          <h2>不妨去看看整体家装或族群样板间吧！</h2> 
          <a href="#"><div class="scBtn scWbdQgwBtn btn-animate">去购物</div></a> 
        </div>
				<div class="scBdhtQd">
          <p>请输入您的合同号和手机号</p>
          <input type="text" value="" placeholder="请输入您的手机号" />
          <input type="text" value="" placeholder="请输入您的合同号" />
          <a href="#"><div class="scBtn scBdhtQdBtn btn-animate">确认绑定</div></a>
        </div>
			</div>
		</div>
	</div>
</div>
<!--*********************footer 引入区*********************-->
<div class="footer-wrap">
    <div class="layout clearfix footer-sub-nav-c">
       <dl class="footer-sub-nav-dl">
          <dt>服务支持</dt>
          <dd><a href="designer.html">设计师团队</a></dd>
          <dd><a href="#">实创展厅</a></dd>
          <dd><a href="#">企业客户入口</a></dd>
          <dd><a href="#">网站地图</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关于实创</dt>
          <dd><a href="#">独家优势</a></dd>
          <dd><a href="#">加入我们</a></dd>
          <dd><a href="#">责任声明</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关注我们</dt>
          <dd><a href="#"><i class="zhu-icon01"></i>新浪微博</a></dd>
          <dd><a href="#"><i class="zhu-icon02"></i>QQ空间</a></dd>
          <dd><a href="#"><i class="zhu-icon03"></i>官方微信</a></dd>
          <dd><a href="#"><i class="zhu-icon04"></i>天猫商城</a></dd>
       </dl>
       <div class="footer-call">
         <h2>400-03-28800</h2>
         <p class="f-day">周一至周日 8:00-18:00<br/>（仅收市话费）</p>
         <p class="f-btn-c"><a href="#" class="yellow-btn btn-animate w-200">在线咨询</a></p>
       </div>
    
    </div>
    
    <div class="ui-copyright">
      <p class="layout clearfix"><span class="f_l">Copyright @ 1997-2014北京实创装饰工程有限公司</span> <span class="f_r">京ICP备09034105号 京公网安备110102000606</span></p>
    </div>
</div>
<!--*********************footer 引入区 end*********************-->

	
</body>
</html>