<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>维修管家</title>
<link href="../../css/order.css" type="text/css" rel="stylesheet">
<link href="../../css/global.css" type="text/css" rel="stylesheet">
<link href="../../css/top-footer.css" type="text/css" rel="stylesheet">
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
</head>
<body>
	<!--*********************header 引入区*********************-->
<div class="header-wrap clearfix">
   <div class="sc-ui-topbar">
      <div class="layout clearfix">
          <div class="sc-ui-topbar-l f_l">
             <span class="sc-page" onclick="addCookie();"><i></i>收藏实创3</span>
             <span class="sc-location"><i></i><strong class="pr-address">北京</strong></span>
          </div>
          <!--left end-->
          <div class="sc-ui-topbar-r f_r">
            <span class="sc-wel">欢迎来到实创！</span>
            <span class="sc-t-login"><i></i><a href="#">[登录]</a> <a href="#">[免费注册]</a></span>
            <span class="sc-t-gj"><a href="#">家装管家</a></span>
          </div>
          <!--right end-->
      </div>
   </div>
   <!--sc-ui-topbar end-->
   <div class="sc-ui-header-bg">
       <div class="sc-logo-wrap">
          <div class="sc-logo-alpha opcity50"><!--背景颜色是否透明，如果透明添加 样式 opcity50--></div>
          <div class="sc-logo-container">
             <div class="layout clearfix">
               <a href="../index.html" class="sc-logo"><img src="../../images/logo.png" width="220" height="26"></a>
               <div class="sc-main-nav">
                 <a href="#" class="zx-start">[开始装修]</a>
                 <a href="../index.html">首  页</a>
                 <a href="../decoration/decoration-index.html">我要装修</a>
                 <a href="../drawing/special-photo-list.html">看效果图</a>
                 <a href="../hotcommunity/diary-index.html">我的小区</a>
                 <a href="../guide/renovation-index.html" target="_blank">装修攻略</a>
                 <a href="../characteristic/tese-index.html">实创特色</a>
               </div>
               <!--sc-main-nav end-->
               <h2 class="sc-call"><i></i><strong>400-03-28800</strong></h2>
             </div>
             <!--end-->
          </div>
       </div>
       <!--about-banner-->
       <div class="header-step-box">
         <h1 class="h-s-title">会员中心</h1>
       </div>
       <!--about-banner end-->
   </div>
   <!--sc-logo end-->
</div>
<!--*********************header 引入区 end*********************-->
<!--*********************contanier 内容区 *********************-->
<div class="layout container-minheight clearfix">
    <div class="web-step">
         <a href="#">首页 ></a>
         <a href="#">会员中心 > </a>
         <a>全过程管理</a>
     </div>
     <div class="scMain clearfix ">
		<div class="scMLeft">
      <div class="order_left left">
      <div class="order_doc">
        <p>我的服务</p>
        <ul>
          <li class="btn-animate"><a href="">个人中心</a></li>
          <li class="btn-animate"><a href="">我的订单</a></li>
          <li class="btn-animate"><a href="">我的优惠</a></li>
        </ul>
      </div>
      <div class="order_doc">
        <p>全过程管理</p>
        <ul>
            <li class="btn-animate"  id="current"><a href="zxgj.html">装修管家</a></li>
            <li class="btn-animate"><a href="bdht.html">绑定合同</a></li>
            <li class="btn-animate"><a href="zxjd.html">装修进度</a></li>
            <li class="btn-animate"><a href="cwzx.html">财务中心</a></li>
            <li class="btn-animate"><a href="clzx.html">材料中心</a></li>
            <li class="btn-animate"><a href="zxys.html">装修验收</a></li>
        </ul>
      </div>
      <div class="order_doc">
        <p>内容管理</p>
        <ul>
          <li class="btn-animate"><a href="">我的案例</a></li>
          <li class="btn-animate"><a href="">我的文章</a></li>
          <li id="none" class="btn-animate"><a href="">我的收藏</a></li>
        </ul>
      </div>
      <div class="order_doc">
        <p>账号管理</p>
        <ul>
          <li class="btn-animate"><a href="">资料修改</a></li>
          <li class="btn-animate"><a href="">密码设置</a></li>
          <li id="none" class="btn-animate"><a href="">我的消息</a></li>
        </ul>
      </div>
    </div>  
    </div>
		<div class="scMRight">
			<div class="scMRTit"><h3>装修管家</h3><div class="sqzxgjBtn">申请装修管家>></div></div>
			<div class="scMRCon">
				<div class="scWxgjTit">
          <h2>装修管家，为您打造幸福家居</h2> 
          <p>已累计服务超过10万装修家庭</p>   
        </div>
        <div class="scWxgjCon">
          <div class="scWxgjSq">
            <div class="scWxgjSqM">
              <span>家装顾问+设计师+实小创+客服</span>
              <h2>多对一全程装修服务</h2>
              <p>省心 省力 省钱 放心</p>
              <a href="#"><div class="scBtn scSqzxgjBtn btn-animate">申请装修管家</div></a>
            </div>
          </div>
          <div class="scWxgjSqF">
            <ul class="clearfix">
              <li class="cur">
                <div class="scWxgjSqFM">
                  <h2>整体家装设计</h2>
                  <div class="scWxgjSqFInfo">
                    免费获得装修报价、量房等服务。
                  </div>
                </div>
              </li>
              <div class="scWxgjBar"></div>
              <li>
                <div class="scWxgjSqFM">
                  <h2>整体家装设计</h2>
                  <div class="scWxgjSqFInfo">
                    免费获得装修报价、量房等服务。
                  </div>
                </div>
              </li>
              <div class="scWxgjBar"></div>
              <li>
                <div class="scWxgjSqFM">
                  <h2>整体家装设计</h2>
                  <div class="scWxgjSqFInfo">
                    免费获得装修报价、量房等服务。
                  </div>
                </div>
              </li>
              <div class="scWxgjBar"></div>
              <li>
                <div class="scWxgjSqFM">
                  <h2>整体家装设计</h2>
                  <div class="scWxgjSqFInfo">
                    免费获得装修报价、量房等服务。
                  </div>
                </div>
              </li>
              <div class="scWxgjBar"></div>
              <li>
                <div class="scWxgjSqFM">
                  <h2>整体家装设计</h2>
                  <div class="scWxgjSqFInfo">
                    免费获得装修报价、量房等服务。
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
			</div>
      <div class="dialog">
          <input type="button" id="closeBtn"/>
          <div class="scDialogM">
            <h2>申请管家服务</h2>
            <div class="scDialogC clearfix">
              <input type="text" value="" placeholder="请输入您的小区名称"/>
              <div class="scDialogBar"></div>
              <input type="text" value="" placeholder="请输入您的房屋建筑面积"/>
              <input type="text" value="" placeholder="请输入您的姓名"/>
              <div class="scDialogBar"></div>
              <input type="text" value="" placeholder="请输入您的电话"/>
            </div>
            <a href="#"><div class="scBtn scSqgjBtn" >申请管家</div></a>
          </div>
        </div>
		</div>
	</div>
</div>

          
<!--*********************footer 引入区*********************-->
<div class="footer-wrap">
    <div class="layout clearfix footer-sub-nav-c">
       <dl class="footer-sub-nav-dl">
          <dt>服务支持</dt>
          <dd><a href="designer.html">设计师团队</a></dd>
          <dd><a href="#">实创展厅</a></dd>
          <dd><a href="#">企业客户入口</a></dd>
          <dd><a href="#">网站地图</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关于实创</dt>
          <dd><a href="#">独家优势</a></dd>
          <dd><a href="#">加入我们</a></dd>
          <dd><a href="#">责任声明</a></dd>
       </dl>
       <dl class="footer-sub-nav-dl">
          <dt>关注我们</dt>
          <dd><a href="#"><i class="zhu-icon01"></i>新浪微博</a></dd>
          <dd><a href="#"><i class="zhu-icon02"></i>QQ空间</a></dd>
          <dd><a href="#"><i class="zhu-icon03"></i>官方微信</a></dd>
          <dd><a href="#"><i class="zhu-icon04"></i>天猫商城</a></dd>
       </dl>
       <div class="footer-call">
         <h2>400-03-28800</h2>
         <p class="f-day">周一至周日 8:00-18:00<br/>（仅收市话费）</p>
         <p class="f-btn-c"><a href="#" class="yellow-btn btn-animate w-200">在线咨询</a></p>
       </div>
    
    </div>
    
    <div class="ui-copyright">
      <p class="layout clearfix"><span class="f_l">Copyright @ 1997-2014北京实创装饰工程有限公司</span> <span class="f_r">京ICP备09034105号 京公网安备110102000606</span></p>
    </div>
</div>
<!--*********************footer 引入区 end*********************-->
  <script ype="text/javascript">
    $(function(){
      $(".scSqzxgjBtn").click(function(){
          $(".dialog").show();
      });
      $(window).resize(function(){
        if(!$(".dialog").is(":visible")){
          return;
        }
      });
      $("#closeBtn").bind("click",function(){
        $(".dialog").hide();
      });
      $("#sureBtn").bind("click",function(){
        $(".dialog").hide();
        $(".scBar input:checked").parent().remove();
      });
      $("#QxBtn").click(function(){
        $(".dialog").hide();
      });
    });
  </script>
	
</body>
</html>