<include file="Common/top" />



<!--页面独立js和css区-->
<link href="__CSS__/case.css" type="text/css" rel="stylesheet"><!--当前页面独立css文件-->
<link href="__CSS__/share.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__JS__/case.js"></script>
</head>
<body>
<div class="cs-view-wrap clearfix">
<include file="Common/header" />
  <!--header end-->
  <!--主体内容 start-->
  <div class="sc-view-container">
    <section class="sc-floor-row section-1 clearfix">
    	<a href="{:U('/index/index?city='.$city)}" class="last"></a>
    	<span class="jz-top-icon jz-top-icon-s"></span>
        <h3 class="clearfix case-h3">
        	<p class="chi-ti">实创服务</p>
            <!--<p class="eng-ti">CASE</p>-->
        </h3>
        <div class="top-share-cl" style="width:9em;">
         <a href="#" class="top-share-btn"><strong class="s-font share-wenzi"></strong><!--<i class="top-share-icon"></i>--></a>
         <div class="fx">
          <div class="bdsharebuttonbox"><a href="#" data-cmd="more"></a><!--<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>--></div>

</div>
         </div>
    </section>
    <section class="sc-floor-row designer-1 clearfix">
		<img src="__IMG__/ser-01.jpg"/><img src="__IMG__/ser-02.jpg"/><img src="__IMG__/ser-03.jpg"/><img src="__IMG__/ser-04.jpg"/><img src="__IMG__/ser-05.jpg"/><img src="__IMG__/ser-06.jpg"/><img src="__IMG__/ser-07.jpg"/><img src="__IMG__/ser-08.jpg"/><img src="__IMG__/ser-09.jpg"/><img src="__IMG__/ser-10.jpg"/><img src="__IMG__/ser-11.jpg"/><a href="http://j.looyu.com/WebModule/chat/p.do?c={$cityinfo.LEYUCID}&f={$cityinfo.LEYUFID}&{$leyurl}" target="_blank"><img src="__IMG__/ser-12.jpg"/></a><img src="__IMG__/ser-13.jpg"/> 
    </section>
  </div>
  <!--主体内容 end-->
<!--footer-->
<!-- <footer class="sc-view-footer clearfix">页脚内容正在设计中....</footer> -->
<!--footer end-->
</div>
</body>
</html>
